<h1>Sign in</h1>

<%= form_for :session,:url=>sessions_path do |f|%>
  <div class='field'>
    <%= f.label :name%><br/>
    <%= f.text_field :name%>
  </div>
  <div class='field'>
    <%= f.label :password%><br/>
    <%= f.password_field :password%>
  </div>
  <div class='actions'>
    <%= f.submit "Sign In"%>
  </div>
<% end%>
