<h1>最新公告</h1>

<table class="table">
  <tr>
    <th>标题</th>
    <th>正文</th>
    <th></th>
    <th></th>
  </tr>

<% @notices.each do |notice| %>
  <tr>
    <td><%= notice.title %></td>
    <td><%= notice.content %></td>
    <td><%= link_to '查看', notice, :class => "btn" %></td>
    <td><%= link_to '编辑', edit_notice_path(notice), :class => "btn" %></td>
    <td><%= link_to '删除', notice, :class => "btn", :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加 最新公告', new_notice_path %>
