<%= form_for @book_flow, :html => { :multipart => true }  do |f|%>
  <% if @book_flow.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@book_flow.errors.count,"error")%> prohibited creating book flow:</h2>

      <ul>
      <% @book_flow.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div> 
  <% end%>

  <div class="field">
    图书编号(在<%= link_to "图书列表",products_path%>处查询)<br/>
    <%= f.text_field :product_id%>
  </div>
  <div class="field">
    <%= f.label "上传图片"%><br/>
    <%= f.file_field :image%>
  </div>

  <div class="actions">
    <%= f.submit "提交"%>
  </div>
<% end%>
