<h1>头图列表(743*235, 头图总数:4~5张)</h1>

<table class="table">
  <% BookFlow.all.each do |book_flow|%>
    <tbody>
      <tr>
        <td class="span3"><%= link_to book_flow.product.title, book_flow.product%></td>
        <td><%= image_tag book_flow.image.url, :size => '390x130'%></td>
        <td><%= link_to '编辑',edit_book_flow_path(book_flow) %></td>
        <td><%= link_to '删除',book_flow,:confirm=>"U sure?",:method=>:delete %></td>
      </tr>
    </tbody>
  <% end%>
</table>
<%= link_to "新建",new_book_flow_path%>
