body 
{
	font-family: "宋体", Arial;
	font-size: 12px;
	color: #3e3a39;
	background-color: #FFFFFF;
	margin: 41px 0px auto 0px;
	line-height: 200%;
}


td {padding:0;
	font-size:12px;}

.copyright, .copyright a:link, .copyright a:visited {
    color: #000000;
}
h1{
	color:#363737;
	text-align:center;
	font-size:22px;
	margin:0px;
	padding:0px;
	font-weight:bold;
}

#mainbox{
	width: 950px;
	padding:0;
	text-align:left;
	margin: 0px auto 0px auto;
}

.button {
  padding: 1px 2px 0px 1px;
  margin: 1px 6px 1px 6px;
  border: 1px solid #2D5082;
  background: url(/images/button_bg.gif) repeat-x; 
  vertical-align:middle;
  cursor:pointer;
}

/*下拉列表框*/
.select
{
	border: #A4ACB2 1px solid;
	font-family: 宋体;
	vertical-align: middle;
	background-color:#f4f4f4;
	clip: rect(1px 1px 1px 1px);
}
/*文本输入框*/
.textbox
{
	margin: 1px;
	padding:1px;
	clip: rect(1px 1px 1px 1px);
	font-family: 宋体;
	vertical-align:middle;
}
/*文本输入框 文字居中*/
.textbox_center
{
	margin: 1px;
	padding:1px;
	clip: rect(1px 1px 1px 1px);
	font-family: 宋体;
	vertical-align:middle;
	text-align:center;
}
/*文本输入框 文字居右*/
.textbox_right
{
	margin: 1px;
	padding:1px;
	clip: rect(1px 1px 1px 1px);
	font-family: 宋体;
	vertical-align:middle;
	text-align:right;
}
/*信息列表、输入、修改页面的标题样式*/
.content_title
{
	margin-top: 1px;	
	font-size: 14px;
	font-weight:bold;
	margin-bottom: 1px;
	font-family: "宋体";
	text-align: center;
	vertical-align:middle;
	height:28px;
	display:none;
}
/*显示详细信息页面的标题样式*/
.detail_title
{
	margin: 1px auto 2px auto;	
	font-size: 14px;
	font-weight:bold;
	font-family: "宋体";
	text-align: center;
	vertical-align:middle;
	height:25px;
}
/*查询 box*/
.query_box
{
    border: 1px solid #a0a0a4;
    overflow: hidden;
    margin:0px;
    width:100%;
    padding:0px 0px 3px 0px;
    position:relative;
    z-index:1;
}
/*查询 条件 方框*/
.query_con
{
    float: left;
    border: 0px solid #a0a0a4;
    overflow: hidden;
    margin: 3px 0px 0px 5px;
    text-align:left;
}
/*查询 按钮 方框*/
.query_btn
{
	float:right;
	text-align:right;
	margin:3px 3px 0px 0px;
	border:0px solid #a0a0a4;
	position:absolute;
	bottom:3px;
	right:2px;
}
/*查询 数据显示列表*/
.query-data
{
	margin-top:3px;
	width:100%;
	text-align:center;
	margin-top:5px;
}
/*查询 数据显示列表说明*/
.query-data-span
{
	float:left;
}
/*录入、修改页面 数据项*/
.input-data
{
	margin-top:3px;
	width:100%;
	text-align:center;
	margin:auto;
}

/*录入、修改页面 按钮*/
.input_btn
{
	width:100%;
	text-align:center;
	margin:5px auto 5px auto;
}

/*详细信息显示  数据项*/
.detail-data
{
	width:760px;
	text-align:center;
	vertical-align:middle;
	margin-right:auto;
	margin-left:auto;
	text-align:left;
}
br{
	clear:both;
}

.float_left
{
	float:left;
}
.float_right
{
	float:right;
}

/*信息列表标题左、中列*/
.head_left {
    float: left;
    margin-right: 0px;
    
    border-top: #a0a0a4 1px solid;
    border-left: #a0a0a4 1px solid;
    border-bottom: #a0a0a4 1px solid;
	padding: 4px 1px 1px 1px;
	height: 18px;
	font-size: 9pt;
	font-weight:bold;
	font-family: 宋体;
	background: #F0F0F0;
	color:#000;
	text-align:center;
}
/*信息列表标题右列*/
.head_right {
    float: left;
    margin-right: 0px;
    
    border-top: #a0a0a4 1px solid;
    border-right: #a0a0a4 1px solid;
    border-left: #a0a0a4 1px solid;
    border-bottom: #a0a0a4 1px solid;
	padding: 4px 1px 1px 1px;
	height: 18px;
	font-size: 9pt;
	font-weight:bold;
	font-family: 宋体;
	background: #F0F0F0;
	color:#000;
	text-align:center;
}
/*信息列表数据左、中列*/
.data_left {
    float: left;
    margin-right: 0px;
    
    border-left: #a0a0a4 1px solid;
    border-bottom: #a0a0a4 1px solid;
	padding: 4px 1px 1px 1px;
	height: 18px;
	font-size: 9pt;
	font-family: 宋体;
	background: #fff;
	color:#000;
}
/*信息列表数据右列*/
.data_right {
    float: left;
    margin-right: 0px;    
    border-right: #a0a0a4 1px solid;
    border-left: #a0a0a4 1px solid;
    border-bottom: #a0a0a4 1px solid;
	padding: 4px 1px 1px 1px;
	height: 18px;
	font-size: 9pt;
	font-family: 宋体;
	background: #fff;
	color:#000;
}

/*录入、修改数据项说明文字 左第一行*/
.label_left1 {
    float: left;
    margin-right: 0px;
    
    border-top: #a0a0a4 0px solid;
    border-left: #a0a0a4 0px solid;
    border-bottom: #a0a0a4 0px solid;
	padding: 2px 4px 2px 2px;
	min-height: 25px;
	font-size: 9pt;
	font-family: 宋体;
	background: #F8F8F8;
	color:#000;
	text-align:right;
}
/*录入、修改数据项说明文字 右第一行*/
.label_right1 {
    float: left;
    margin-right: 0px;
    
    border-top: #a0a0a4 0px solid;
    border-right: #a0a0a4 0px solid;
    border-left: #a0a0a4 0px solid;
    border-bottom: #a0a0a4 0px solid;
	padding: 2px 4px 2px 2px;
	min-height: 25px;
	font-size: 9pt;
	font-family: 宋体;
	background: #F8F8F8;
	color:#000;
	text-align:right;
}
/*录入、修改数据项说明文字 左 非第一行*/
.label_left2 {
    float: left;
    margin-right: 0px;
    
    border-left: #a0a0a4 0px solid;
    border-bottom: #a0a0a4 0px solid;
	padding: 2px 4px 2px 2px;
	min-height: 25px;
	font-size: 9pt;
	font-family: 宋体;
	background: #F8F8F8;
	color:#000;
	text-align:right;
}
/*录入、修改数据项说明文字 右 非第一行*/
.label_right2 {
    float: left;
    margin-right: 0px;
    
    border-right: #a0a0a4 0px solid;
    border-left: #a0a0a4 0px solid;
    border-bottom: #a0a0a4 0px solid;
	padding: 2px 4px 2px 2px;
	min-height: 25px;
	font-size: 9pt;
	font-family: 宋体;
	background: #F8F8F8;
	color:#000;
	text-align:right;
}
/*录入、修改数据项 左第一行*/
.data_left1 {
    float: left;
    margin-right: 0px;
    
    border-top: #a0a0a4 0px solid;
    border-left: #a0a0a4 0px solid;
    border-bottom: #a0a0a4 0px solid;
	padding: 2px;
	min-height: 25px;
	font-size: 9pt;
	font-family: 宋体;
	background: #fff;
	color:#000;
}
/*录入、修改数据项 右第一行*/
.data_right1 {
    float: left;
    margin-right: 0px;
    
    border-top: #a0a0a4 0px solid;
    border-right: #a0a0a4 0px solid;
    border-left: #a0a0a4 0px solid;
    border-bottom: #a0a0a4 0px solid;
	padding: 2px;
	min-height: 25px;
	font-size: 9pt;
	font-family: 宋体;
	background: #fff;
	color:#000;
}
/*录入、修改数据项 左 非第一行*/
.data_left2 {
    float: left;
    margin-right: 0px;
    
    border-left: #a0a0a4 0px solid;
    border-bottom: #a0a0a4 0px solid;
	padding: 2px;
	min-height: 25px;
	font-size: 9pt;
	font-family: 宋体;
	background: #fff;
	color:#000;
}
/*录入、修改数据项说 右 非第一行*/
.data_right2 {
    float: left;
    margin-right: 0px;
    
    border-right: #a0a0a4 0px solid;
    border-left: #a0a0a4 0px solid;
    border-bottom: #a0a0a4 0px solid;
	padding: 2px;
	min-height: 25px;
	font-size: 9pt;
	font-family: 宋体;
	background: #fff;
	color:#000;
}

/*方框1*/
.data_box4 {
    margin: 0px;    
    border: #ddd 1px solid;
	padding: 0px;
	min-height: 25px;
	font-size: 9pt;
	font-family: 宋体;
	background: #fff;
	color:#000;
}
/*方框1*/
.data_box3 {
    margin: 0px;   
    
    border-right: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    border-left: #ddd 1px solid;
	padding: 0px;
	min-height: 25px;
	font-size: 9pt;
	font-family: 宋体;
	background: #fff;
	color:#000;
}


.col {
    float: left;
    margin: 0;
    padding:0;
    vertical-align:top;
    display:inline;
}

/*===台登陆首页====*/
.AdminLogin
{
	width: 100%;
	height: 160px;
	background: url(adminlogin_bg.gif);
	margin-top: 240px;
	min-width: 760px;
	text-align: center;
	border-top: solid 0px #AACCEE;
	float:left;
}
.AdminLogin .input-data
{
	width: 740px;
	height: 124px;
	background: url(login_bg.gif);
	margin-top: 18px;
	margin-left:auto;
	margin-right:auto;
	border-top:solid 1px #1890cc;
}

.dgrid_ff
{
	width: 100%;
	border:1px solid #bbbbbb;
	margin:0;
	padding:0;
}
.dgridhead_ff
{
	padding: 2px;
	font-weight: bold;
	font-size: 9pt;
	padding-bottom: 2px;
	font-family: 宋体;
	height: 23px;
	text-align: center;
	border: #bbbbbb 1px solid;
	color: #000;
	background: #F0F0F0;
}
.dgridfoot_ff
{
	border:0;
	padding: 2px;
	font-weight: bold;
	font-size: 9pt;
	background: #bbbbbb;
	font-family: 宋体;
	height: 25px;
	color: #000;
}
.dgriddata_ff
{
	padding: 2px;
	font-size: 9pt;
	font-family: 宋体;
	height: 19px;
	border-right: #bbbbbb 1px solid;
	border-left: #bbbbbb 1px solid;
	border-bottom: #bbbbbb 1px solid;
	color: #000;
}
p
{
	text-indent: 0pc;
	margin:0;
}

.p_text
{
	text-indent: 1.6pc;
	font-family: "宋体";
	margin:0px;
	padding:0px;
	line-height:200%;
	text-align:justify;
	text-justify:inter-ideograph;
}
.p_text1
{
	text-indent: 0pc;
	line-height:200%;
}
.p_textborder
{
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	border-left: #999999 1px solid;
	color: #0b45a5;
	border-bottom: #999999 1px solid;
	font-family: "宋体";
}

/*当前位置：导航的商品分类 */
.sort_dh {text-decoration: none;color: #f14a20; font-size:13px; font-weight:bold;}
.sort_dh:link {text-decoration: none;color: #f14a20; font-size:13px; font-weight:bold;}
.sort_dh:visited {text-decoration: none;color: #f14a20; font-size:13px; font-weight:bold;}
.sort_dh:hover {text-decoration: none;color: #f14a20; font-size:13px; font-weight:bold;}
.sort_dh:active {text-decoration: none;color: #f14a20; font-size:13px; font-weight:bold;}

/*新经典文化有限公司CSS样式*/
a {text-decoration: none;color: #898989;}
a:link {color: #898989;text-decoration: none;}
a:visited {color: #898989;text-decoration: none;}
a:hover {text-decoration: none;color: #5A5A5A;}
a:active {color: #898989;text-decoration: none;}

.default_url{text-decoration: none;color: #5A5A5A;}
.article_sort_url {text-decoration: none;color: #5A5A5A;}

/*头部：导航+搜索框,begin*/
#head {}
.dh {text-decoration: none; font-size: 14px; color: #FFFFFF; margin-top:5px;}
.dh a:link {text-decoration: none;color: #FFFFFF;}
.dh a:visited {text-decoration: none;color: #FFFFFF;}
.dh a:hover {text-decoration: none;color: #A3F254;}
.dh a:active {text-decoration: none;color: #A3F254;}
.search 
{
	clear:both;
	border:1px #138928 solid ;background:#E0F8C8;
	height:45px;
	margin:0;
}
.topfont {text-decoration: none; color: #148A29;}
.topfont a:link {text-decoration: none;color: #148A29;}
.topfont a:visited {text-decoration: none;color: #148A29;}
.topfont a:hover {text-decoration: none;color: #FF9000;}
.topfont a:active {text-decoration: none;color: #FF9000;}
/*头部：导航+搜索框,end */

/*首页，begin*/

/*左列*/
.col1_box{width:184px; margin:8px auto 0px auto; text-align:left; }
.col1_bt_bg{ height:25px; background-image:url("/image/service-bg.gif");font-size: 14px; color: #F89802; text-align:left; margin-bottom:10px;}
.col1_line_bg{ height:15px; background-image:url("/image/service-bgline.gif");}

/*中列*/
.col2_glmj_box
{
	border:1px #8CCF54 solid; margin:0px autp 0px auto; background-color:#F1FBE2;
    width:498px; background-image:url("/image/wenbg.GIF")}

.col2_glmj_box .biaoti{ height:24px; vertical-align:middle; float:left;width:185px; padding-top:3px;padding-left:20px;
                        background-image:url("/image/wenbg.GIF"); 
                        color: #468E07;font-weight: bold;}  
.col2_glmj_box .more{ height:21px; vertical-align:middle; float:left;width:43px;padding-top:6px;
                        background-image:url("/image/wenbg.GIF"); }   
.col2_biaoti
{
	font-size: 14px; font-weight: bold; color: #FE6703;
	float:left;height:20px; vertical-align:middle;
}
/*右列*/


/*首页，end*/

/*内容部分*/
.border1 {border:1px #D7D7D7 solid; vertical-align:middle; text-align:center; }
.border2 {border:1px #c6c6c6 solid; margin:0px autp 0px auto; }
.border3 {border-right: #FFFFFF 1px solid; border-left: #FFFFFF 1px solid; border-top: #FFFFFF 1px solid;}
.lefttitle {font-size: 14px; color: #F89802;}
.title1 {font-size: 14px; font-weight: bold; color: #FE6703;}
.title2 {color: #468E07;font-weight: bold; }
.title3 {color: #FFFFFF;font-weight: bold; }
.title4 {text-decoration: none; font-weight: bold; color: #FE6703;}
.title4 a:link {text-decoration: none;color: #FE6703;}
.title4 a:visited {text-decoration: none;color: #FE6703;}
.title4 a:hover {text-decoration: none;color: #468E07;}
.title4 a:active {text-decoration: none;color: #468E07;}


/*底部*/
.footer2 {text-decoration: none; color: #FFFFFF; height:21px; background-color:#2FB248; text-align:center; padding-top:3px;}
.footer2 a:link {text-decoration: none;color: #FFFFFF;}
.footer2 a:visited {text-decoration: none;color: #FFFFFF;}
.footer2 a:hover {text-decoration: none;color: #A3F254;}
.footer2 a:active {text-decoration: none;color: #A3F254;}
.footer3 { margin-top:12px; vertical-align:middle; text-align:center;}


/*2008-08-10add*/
.title6 {font-size: 14px; color: #468E07;font-weight: bold; }
.reg 
{
	border:1px #DDDDDD solid; width:100%; 
	margin: 0px auto 20px auto; 
	padding-top:30px; padding-bottom:30px; 
	text-align:center;
}

/*2008-08-11add*/
.border4 {border:1px #1F8206 solid;}
.border5 {border-right: #D7D7D7 1px solid; border-left: #D7D7D7 1px solid; border-bottom: #D7D7D7 1px solid; margin-top:0px;}


/*2008-08-12add*/
.cc_topfont 
{
	color: #148A29; 
    font-size:14px;
	font-weight: bold;
	FILTER: dropshadow(color=#FF7E00,offx=1,offy=1);
}

/*会员后台左边导航样式*/
.cc_left
{
	width:195px;text-align:center;
	border: #DDDDDD 1px solid; 	
}
.cc_left .biaoti
{
	margin:auto;
	width:170px;
	height:10px;
	overflow:hidden;	
}
.cc_left .box
{
	margin:0px auto 0px 19px;text-align:left; vertical-align:top;width:170px;
}
.cc_left .home
{
	font-weight:bold;
	margin: 3px auto 3px auto;
	padding-left: 14px;
	background-position: 0px 7px;
	background-image: url(/images/home_ico.gif);
	background-repeat: no-repeat;
}
.cc_left .parent
{
	font-weight:bold;
	margin: 3px auto 3px auto;
	padding-left: 16px;
	background-position: 0px 7px;
	background-image: url(/images/menu_list_ico.gif);
	background-repeat: no-repeat;
}
.cc_left .child
{
	margin: 3px auto 3px auto;
	padding-left: 28px;
}
.cc_right
{
	border:1px #DDDDDD solid; 
	width:735px; 
	margin: 0px auto 20px auto; 
	text-align:left;
	padding: 10px 5px 10px 5px;
}
.title
{
	color: #006699;
	font-size:14px;
	font-weight:bold;
	width: 96%; 
	text-align: left;
	margin: 0 auto;
}
.cc_right .TrData
{
	 width: 96%; text-align: left; margin: 0px auto 20px auto;
}

/*原来新经典网带过来的样式*/
.font14_1 {
	font-size: 14px;
	font-weight: bold;
	color:  #FF9000;
}
.font14_5 {
	font-size: 14px;
	font-weight: bold;
	color:  #969595;
}
.font14_lan {
	font-size: 14px;
	font-weight: bold;
	color:  #0044DD;
}
.font14_6 {
	font-size: 14px;
	font-weight: bold;
	color:  #FE8040;
}	
.font12_1 {
	color:  #b60005;
}
.font12_lan:link 
{
	text-decoration: none; 
	COLOR: #0044DD; LINE-HEIGHT: 200%; TEXT-DECORATION: none
}
.font12_lan:visited {color:#0044DD;}
.font12_lan:active {color:#0044DD;}
.font12_lan:hover {color: #FF9000; TEXT-DECORATION: none}
.font12_lan {
	color:  #0044DD;
}
.font12_2 {
	color:  #FFFFFF;
}
.font12_3 {
	color:  #7AB901;
}
.font12_6 {
	color:  #FF6600;
	
}
.xian4 {
	BORDER-RIGHT: #DDDDDD 1px solid; BORDER-TOP: #DDDDDD 1px solid; BORDER-LEFT: #DDDDDD 1px solid; BORDER-BOTTOM: #DDDDDD 1px solid;
}
.xian_h4 {
	BORDER-RIGHT: #FF9400 1px solid; BORDER-TOP: #FF9400 1px solid; BORDER-LEFT: #FF9400 1px solid; BORDER-BOTTOM: #FF9400 1px solid;
}
.flow_3 {
	BORDER-RIGHT: #DDDDDD 1px solid; BORDER-TOP: #DDDDDD 1px solid; BORDER-BOTTOM: #DDDDDD 1px solid;
}
.xian_top3 {
	BORDER-RIGHT: #DDDDDD 1px solid; BORDER-LEFT: #DDDDDD 1px solid; BORDER-BOTTOM: #DDDDDD 1px solid; LINE-HEIGHT: 200%
}
.xian_left3 {
	BORDER-RIGHT: #DDDDDD 1px solid; BORDER-TOP: #DDDDDD 1px solid; BORDER-BOTTOM: #DDDDDD 1px solid; LINE-HEIGHT: 200%
}
.xian_h_top3 {
	BORDER-RIGHT: #FF8900 1px solid; BORDER-LEFT: #FF8900 1px solid; BORDER-BOTTOM: #FF8900 1px solid
}
.red {
	BACKGROUND: #ff7100; MARGIN: 0px 0px; WIDTH: 12px; COLOR: #fff; HEIGHT: 6px; TEXT-ALIGN: center
}

.fontcss1 {
            font-weight:bold;
            font-size:14px;
            color:#197D9F
}
.fontcss2 {
            color:#197D9F
}

.fontcolor_Expert {color:#623A0B}

.fontcolor_Tec {color:#596D32}


.fontcolor_Fri {color:#036576}

#floater
{	
	width:30%;
	width:auto !important;width:380px; min-width:380px;
	border:solid 1px #AACCEE;
	background-color:#f4f6fb;
	position:absolute;
	top:250px; 
	left:35%; 
	margin-left:0px;
	z-index:100;
}
#floater .title_box
{
	background-color:#AACCEE;
	height:21px;
}
#floater .title_box_title
{
	text-align:left;
	font-size:13px;
	font-weight:bold;
	padding-top:0px;
	padding-left:4px;
	float:left;
}
#floater .title_box_close
{
	width:16px;
	height:16px;	
	margin-left:auto;
	margin-right:0;
	float:right;
}
#floater .title_icon
{
	vertical-align:middle;
	width:70px;
	float:left;
	min-height:65px;
}
#floater .content_message
{
	text-align: left;
	width: 290px;
	float:right;
	bottom: 0;
	right: 2;
}

.span_error
{
	color:#f00;
}
.span_message
{
	color:#FF9000;
	text-align:left;
	width:100%;
}

.td {
	color: #000000;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
}
.logo_td {
	text-align: left;
	float:left;
	vertical-align:middle;
}
.menu_td 
{
	width:98%;
	margin-left:0px;	
}
.nav_dh {
	text-align: center;
	width: 64px;
	float:left;
}
.nav_black {
	font-size: 12px;
	font-weight: bold;
	color: #696768;
	text-align: center;
	vertical-align: top;
	float:left;
	cursor: hand;
}
.nav_red {
	font-size: 12px;
	font-weight: bold;
	color: #b70005;
	text-decoration: none;
	vertical-align: top;
	float:left;
	cursor: hand;
}
.subnav_font_01 
{
	font-size: 12px;
	height: 24px;
	color: #67c3ec;
	text-align: left;
	vertical-align:top;
}
.subnav_font_02 {
	font-size: 12px;
	height: 24px;
	color: #909090;
	text-align: left;
	vertical-align:top;
}
.subnav_ico_01{
	background-image: url(/images/Default/ico_02.jpg);
	background-repeat: no-repeat;
	background-position: center 6px;
	width: 22px;
	height: 24px;
}
.subnav_ico_02{
	background-image: url(/images/Default/ico_03.jpg);
	background-repeat: no-repeat;
	background-position: center 6px;
	width: 22px;
	height: 24px;
}
.font_color_01 {
	color: #5e5e5e;
}

.table_search {
	background-color: #e8e8e8;
	text-align: left;
	vertical-align: middle;
	height: 30px;
	width: 436px;
	border: 1px solid #bfbfbf;
	float:right;
	margin-top: 6px;
	padding-top:6px;
}
.button_search {
	font-size: 12px;
	background-attachment: fixed;
	background-image: url(/images/Default/button_Search.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 21px;
	width: 48px;
	color: #0163af;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 4px;
}
.forms_menu {
	font-size: 12px;
	color: #000000;
	width: 94px;
}
.column {

	font-size: 12px;
	font-weight: bold;
	color: #004040;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	height: 34px;
	width: 65px;
}
.column_Second {

	font-size: 12px;
	font-weight: normal;
	color: #004040;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	height: 34px;
}
.column_ico {
	background-image: url(/images/Default/ico_05.jpg);
	background-repeat: no-repeat;
	background-position: left 4px;
	width: 16px;
}
.column_title {

	font-size: 12px;
	color: #000000;
	text-align: left;
	width: 60px;
}

.subnav {
	font-size: 12px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	width: 60px;
}
.book_name {

	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	height: 30px;
}
.content {
	font-size: 12px;
	color: #5e5e5e;
	text-align: left;
	vertical-align: top;
}
.bg_line {
	background-image: url(/images/Default/bg_line.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	height: 10px;
}
.head_width{
	width: 16px;
}.more {
	background-image: url(/images/Default/more.jpg);
	background-repeat: no-repeat;
	background-position: right top;


	height: 7px;
	width: 33px;
}
.right_title {

	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	height: 45px;
	vertical-align: top;
}
.right_news_title {

	font-size: 14px;
	color: #000000;
	text-align: left;
	vertical-align: top;
}
.right_title_Columns {
	font-size: 12px;
	color: #ababab;
	text-align: left;
	width: 40px;
	vertical-align: top;
}

.right_list {
	font-size: 12px;
	color: #ababab;
	text-align: left;
	vertical-align: top;
}
.right_content {
	font-size: 12px;
	color: #ababab;
	text-align: left;
	vertical-align: middle;
}
.footer_nav {
	font-size: 12px;
	color: #ababab;
	text-align: center;
	width: 60px;
	vertical-align: top;
}
.footer_line {
	background-image: url(/images/Default/ico_line.jpg);
	background-repeat: no-repeat;
	background-position: center 5px;
	width: 30px;
}
.copyright {

	font-size: 12px;
	color: #ababab;
	text-align: right;
	text-indent: 10px;
}
.copyright_02 {
	font-size: 12px;
	color: #5e5e5e;
	text-align: right;
	text-indent: 10px;
}
.client_font_12 {
	font-size: 12px;
	color: #67c3ec;
	text-align: center;
	vertical-align: middle;
}
.client_font_14 {

	font-size: 14px;
	color: #67c3ec;
	text-align: center;
	vertical-align: middle;
}
.client_font_16 {

	font-size: 16px;
	color: #67c3ec;
	text-align: center;
	vertical-align: middle;
}


.hui_12
{
	color:#ababab;
	font-size:12px;
}
.hui_13
{
	color:#ababab;
	font-size:13px;
}
#mainbox{
	width: 950px;
	padding:0;
	text-align:left;
	margin: 0px auto 0px auto;
}
br{
	clear:both;
}
.float_left
{
	float:left;
}
.float_right
{
	float:right;
}
.table
{
	width: 100%;
	border:1px solid #bc967d;
	margin:0;
	padding:0;
    border-collapse: collapse;
}
.td_label
{
	padding: 1px;
	font-size: 9pt;
	font-family: 宋体;
	height: 19px;
	text-align: right;
	border: #c6c6c6 1px solid;
}
.td_data
{
	padding: 8px 2px 0px 2px;
	font-size: 9pt;
	text-indent:0.5pc;
	font-family: 宋体;
	height: 24px;
	border: #c6c6c6 1px solid;
	vertical-align:middle;
}
.td_data_t
{
	padding: 2px;
	font-size: 9pt;
	font-family: 宋体;
	height: 24px;
	border-right: #c6c6c6 1px solid;
	border-bottom: #c6c6c6 1px solid;
	border-left: #c6c6c6 1px solid;
}

.td_data0316
{
	padding: 8px 2px 0px 2px;
	font-size: 9pt;
	font-family: 宋体;
	height: 24px;
	border: #c6c6c6 1px solid;
	vertical-align:middle;
}


.xian4 {
	BORDER-RIGHT: #DDDDDD 1px solid; BORDER-TOP: #DDDDDD 1px solid; BORDER-LEFT: #DDDDDD 1px solid; BORDER-BOTTOM: #DDDDDD 1px solid;
}

.button {
  padding: 1px 2px 0px 1px;
  margin: 1px 6px 1px 6px;
  border: 1px solid #2D5082;
  background: url(/images/button_bg.gif) repeat-x; 
  vertical-align:middle;
  cursor:pointer;
}

.button {
  padding: 1px 2px 0px 1px;
  margin: 1px 6px 1px 6px;
  border: 1px solid #2D5082;
  background: url(/images/button_bg.gif) repeat-x; 
  vertical-align:middle;
}
.select
{
	border: #A4ACB2 1px solid;
	font-family: 宋体;
	vertical-align: middle;
	background-color:#f4f4f4;
	clip: rect(1px 1px 1px 1px);
}
.textbox
{
	border: #A4ACB2 1px solid;
	margin: 1px;
	padding:2px 1px 0px 1px;
	clip: rect(1px 1px 1px 1px);
	font-family: 宋体;
	vertical-align: middle;
	background-color:#f4f4f4;
	height:16px;
}
.textbox_center
{
	border: #A4ACB2 1px solid;
	margin: 1px;
	padding:2px 1px 0px 1px;
	clip: rect(1px 1px 1px 1px);
	font-family: 宋体;
	vertical-align:middle;
	text-align:center;
	background-color:#f4f4f4;
	height:16px;
}
.textbox_right
{
	border: #A4ACB2 1px solid;
	margin: 1px;
	padding:2px 1px 0px 1px;
	clip: rect(1px 1px 1px 1px);
	font-family: 宋体;
	vertical-align:middle;
	text-align:right;
	background-color:#f4f4f4;
	height:16px;
}
/*2008-08-10add*/
.title6B {font-size: 18px; color: #000;font-weight: bold; line-height:180%; }
.title6 {font-size: 18px; color: #0099cc;  line-height:180%; font-weight:normal;}
.title5B {font-size: 14pt; color: #0099cc;font-weight: bold; line-height:180%; }
.title5B:link {font-size: 14pt; color: #0099cc;font-weight: bold; line-height:180%; }
.title5:a {font-size: 14pt; color: #0099cc;  line-height:180%; font-weight:normal;}
.GoodsImage
{
	border: #c6c6c6 1px solid;
}
.font14 {
	font-size: 14px;
	color:  #000;
}
.font14_B {
	font-size: 14px;
	font-weight: bold;
	color:  #000;
}
.font14_1 {
	font-size: 14px;
	color:  #0099cc;
}
.font14_1B {
	font-size: 14px;
	font-weight: bold;
	color:  #FF9000;
}
/*图书最终页--内容编辑*/
.GoodsExplain_CKind_BJ {
	margin: 0px auto 0px auto;
        text-align: left; background: #dcdddd; height: 32px; overflow: hidden;
}
.GoodsExplain_CKind {
	font-size:14px;
	color:#5a5a5a;
}
.GoodsExplain_CKind_0 
{
	background-color:White;
	width:78px;
	text-align:center;
	margin-right:5px;
	margin-top:3px;
	 height:24px;
	 overflow:hidden;
}
.GoodsExplain_CKind_1 {
	width:78px;
	text-align:center;
	margin-right:5px;
	margin-top:3px;
	 height:24px;
	 overflow:hidden;
}
.font12_2 {
	font-size: 12px;
	color:  #0099cc;
}
.font12_2B {
	font-size: 12px;
	font-weight: bold;
	color:  #0099cc;
}
.font14_2 {
	font-size: 14px;
	font-weight: bold;
	color:  #0099cc;
}
.Book_Left_Title0_0
{
	color:#004040;
	padding-top:3px;
	padding-left:20px;
	font-size: 16px;
	font-weight: bold;
	background:url('/Images/Book/book_left_title.gif') no-repeat ;
	text-align:left;
	height:30px;
	margin-bottom:10px;
}
.Book_Left_Title0_0:link
{
	color:#004040;
	font-size: 16px;
}
.Book_Left_Title0
{
	color:#004040;
	padding-top: 8px;
	
	font-size: 16px;
	font-weight: bold;
	text-align:left;
	border-bottom:solid 1px #eee;
	height:30px;
	margin-bottom:10px;
	
}
.Book_Left_Title 
{
	padding-top:3px;
	padding-left:8px;
	font-size: 12px;
	font-weight: bold;
}
.Book_Line_01 
{
	margin-top:2px;
	margin-bottom: 6px; height: 1px; overflow: hidden; background-color: #c6c6c6;
}
.dGridData2
{
	border:0;
	margin:0;
	padding: 1px;
	height: 25px;
}
.GoodsPic
{
	border: #fff 1px solid;
}
.BookName14
{
	color:#444444;
	font-size:12pt;
	font-weight:normal;
}
.BookName12
{
	color:#444444;
	font-size:10pt;
	font-weight:normal;
}
.BookName14B
{
	color:#444444;
	font-size:12pt;
	font-weight:bold;
}
.BookName12B
{
	color:#444444;
	font-size:10pt;
	font-weight:bold;
}
.font12_cheng {
	font-size: 12px;
	color:  #ff6600;
}
.font12B_cheng {
	font-size: 12px;
	font-weight: bold;
	color:  #ff6600;
}
.font12_hei {
	font-size: 12px;
	color:  #000;
}
.font12B_hei {
	font-size: 12px;
	font-weight: bold;
	color:  #000;
}
.font14_hei {
	font-size: 14px;
	color:  #000;
}
.font14B_hei {
	font-size: 14px;
	font-weight: bold;
	color:  #000;
}

.ArticleTitle {
	font-size: 16pt;
	font-weight: bold;
	color:#000;
	text-align:center;
	line-height:180%;
}

.Navigation0
{
	 font-size:12px;
}
.Navigation0:link
{
	 font-size:12px;
}
.Navigation0:visited
{
	 font-size:12px;
}
.Navigation0:hover
{
	 font-size:12px;
}
.Navigation0:active
{
	 font-size:12px;
}
.GoodsSort_DH_1 { font-size:14px; font-weight:bold;}
.GoodsSort_DH_2 { font-size:12px;}
.GoodsSort_Div_2 { text-align:left; width:100%;}
.sort_dh
{
	font-size:14px;
}
.sort_dh:link {
	color: #67c3ec;
	text-decoration: none;
}
.sort_dh:visited {
	color: #67c3ec;
	text-decoration: none;
}
.sort_dh:hover {
	color: #67c3ec;
	text-decoration: none;
}
.sort_dh:active {
	color: #67c3ec;
	text-decoration: none;
}
.DivBlank
{
	height:10px;
	overflow:hidden;
}


.MyDefault_BlogTitle
{
	margin-top:37px;
	margin-left:70px;
	font-size: 18pt; color: #000;font-weight: bold; 
}
.MyDefault_BlogUrl 
{
	font-size: 12pt; color: #000;
	margin-left:70px;
}
.MyDefault_ArticleTitle 
{
	font-size: 16px; color: #006699;font-weight: bold;
}
.MyDefault_GoodsName
{
	font-size: 14px; color: #006699;font-weight: bold;
}

.AuthorDefault_02
{
	font-size:14px;
	font-weight:bold;
	color:#b60005;
}

.AuthorDefault_12b
{
	font-size:12px;
	font-weight:bold;
	color:#0099cc;
}
.AuthorDefault_12
{
	font-size:12px;
	color:#0099cc;
}

.AuthorDefault_14
{
	font-size:14px;
	color:#0099cc;
}

.BookDetail_Bj 
{
	height:34px;
	background:url('/Images/Book/Detail_bj02.gif') repeat-x; 
	vertical-align:middle;
	padding-top: 6px;
	padding-left:20px;
	font-size: 14px;
	font-weight: bold;
	color:  #000;
}
.BookDetail_Reading_List
{
	text-align:left;
}
.BookDetail_Reading_DivTitle
{
	background: url(/Images/Book/Detail_Dian.gif) no-repeat;
	vertical-align: middle;
	text-align: left;
	padding-left: 20px;
	color: #67c3ec;
	font-size: 12px;
	font-weight:normal;
}
.BookDetail_Reading_Title {
	text-decoration: none;
	font-size: 12px;
	font-weight:normal;
}
.AuthorAward
{
	color:#b60005;
}

h1 {font-size: 18px; color: #000;font-weight: bold; line-height:180%; text-align:left; margin:0; padding:0;}
h2 {font-size: 16px; color: #000;font-weight: bold; line-height:190%; text-align:left; margin:0; padding:0;}
h3 {font-size: 14px; color: #000;font-weight: bold; line-height:200%;text-align:left; margin:0; padding:0; }
h4 {font-size: 12px; color: #000;font-weight: bold; line-height:200%;text-align:left; margin:0; padding:0; }
.h1 {font-size: 18px; color: #000;font-weight: bold; line-height:180%; text-align:left; margin:0; padding:0;}
.h2 {font-size: 16px; color: #000;font-weight: bold; line-height:190%; text-align:left; margin:0; padding:0;}
.h3 {font-size: 14px; color: #000;font-weight: bold; line-height:200%;text-align:left; margin:0; padding:0; }
.h4 {font-size: 12px; color: #000;font-weight: bold; line-height:200%;text-align:left; margin:0; padding:0; }
.myborder
{
	 border: 1px solid #eeeeee;
}

