<%= form_for(@e_reading, :html => { :multipart => true } ) do |f| %>
  <% if @e_reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@e_reading.errors.count, "error") %> prohibited this e_reading from being saved:</h2>

      <ul>
      <% @e_reading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "作者名"%><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "作者简介"%><br />
    <%= f.text_area :author_intro %>
  </div>

  <div class="field">
    <%= f.label "上传作者图片" %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
