<h1>所有数字阅读</h1>

<table class='table'>
  <tr>
    <th>作者名</th>
    <th>头像</th>
    <th colspan='3'>操作</th>
  </tr>

<% @e_readings.each do |e_reading| %>
  <tr>
    <td><%= e_reading.name %></td>
    <td><%= image_tag e_reading.avatar.url(:thumb) %></td>
    <td><%= link_to '修改', edit_e_reading_path(e_reading), :class => 'btn'%></td>
    <td><%= link_to '删除', e_reading, :confirm => '确定删除?', :method => :delete, :class => 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加数字阅读', new_e_reading_path %>
