<p id="notice"><%= notice %></p>

<div class="content" style="position: relative;top:-15px;">

  <div class="content_sales">
    <div class="sales_left">
      <div class="content_float_left_top" style="height: 15px;">
      </div>

      <div class="content_book_detail">
        <div class="title">
          <%= @e_reading.name%>
        </div>

        <hr style="width: 600px;margin-left: 0px;" >
        <div class="bottom">
          <p ><%= simple_format @e_reading.author_intro%></p>
        </div>
      </div>
    </div>

    <%= render :partial => 'products/sales_right'%>
  </div>

  <%= render :partial => 'page/content_bottom' %>
  <div class="clear"></div>

</div>
