body{
    font-size: 13px;
    font-family: '宋体';
    background: #c1ad9a;
}

.left h2{
    margin-top:10px;
}

a img {
   border:none;
}

a{
  text-decoration: none;
}
    
p a .orange{
  color: #d17939;
}
    
a.orange{
  color: #FF9501;
}

a.gray{
  color: #5E5D5D;
}   
/*------------------------------top_nav-------------------------------*/
.top_nav .top_contact{
background-color: #eee;
    text-align: right;
    font-size: 12px;
    color:  #8d8d8d;
    font-family: microsoft yahei;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-right: 35px;

 /* box-shadow: 0px 1px #a6a6a6; */
}

.top_nav .top_contact a{
    color:  #8e8e8e;
    text-decoration: none;
}

.top_nav .top_banner{
  background-image: url('../images/top_bg.png');
  background-repeat: repeat-x;
  height: 95px;
}

.top_nav .top_banner .top_float_left a{
  float: left;
  padding-top: 20px;
  padding-left: 40px;
  font-size: 2.5em;
}

.top_float_left p{
  float: left;
  padding-left: 40px;
  margin-top: 5px;
  clear:both;
}

.top_nav .top_banner .top_float_middle{
    float: left;
    padding-top: 20px;
    padding-left: 120px;
}

.top_nav .top_banner .top_float_right{
    float: right;
    /*padding-top: 43px;*/
    padding-right: 13px;
}

.top_nav .top_banner .top_float_right #search{
    background-image: url("../images/search.png");
    float: left;
    height: 30px;
    width: 165px;
}

.top_nav .top_banner .top_float_right #search_img{
    background-image: url("../images/search_icon_normal.png");
    float: right;
    width: 27px;
    height: 27px;
}

.top_nav .nav{
    position: relative;
    top:-15px;
    left: 124px;
    *top:-5px;
    *left: 50px;
    width: 900px;
    height: 33px;
    background-color: #dddddd;
    border-bottom-left-radius: 4px;
}

.top_nav .nav ul{
   list-style: none;
}

.top_nav .nav ul li{
    float: left;
    width: 95px;
    display: list-item;
    color: #686868;
    font-size: 15px;
    font-weight: bold;
    font-family: microsoft yahei;
    padding-top: 9px;
    text-align: left;
}

.top_nav .nav a{
    text-decoration: none;
    color: #666;
}

/*---------------------------content---------------------------------*/
.content{
    margin-top: 13px;
}

.content .content_top .content_float_left{
    float: left;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    height: 260px;
    width: 680px;
    margin-left: 28px;
    display: inline;
}

.content .content_top .content_float_left_top{
   background-color: #ff9501;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 32px;
    width: 680px;
}

.content .content_top .content_float_left_middle{
    background-image: url("../images/shadow_top.png");
    background-repeat: repeat-x;
    height: 6px;
}

.content .content_top .content_float_left_bottom .left{
    float: left;
    width: 280px;
    text-align: left;
    padding-left: 20px;
}

.content .content_top .content_float_left_bottom .right{
    float: left;
    text-align:left;
    padding-right: 20px;
    padding-top: 4px;
}

.content .content_top .content_float_left_bottom .left p{
    font-size: 12px;
    color:#696969;
}

.content .content_top .content_float_left_bottom .right ul{
    list-style: none;
}

.content .content_top .content_float_left_bottom .right li{
    font-size: 12px;
    color: #333333;
    height: 30px;
}

.content .content_top .content_float_left_bottom .right .date{
    font-size: 12px;
    color: #a4a0a0;
    padding-left: 5px;
}

.content .content_top .content_float_right{
    float: right;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    height: 260px;
    width: 270px;
  
    background-color: #eee;
    margin-right: 25px;

    line-height: 170%;

    text-align: left;
    color: #8e8e8e;
}
.content .content_top .content_float_right  .title{
    color: #8e8e8e;
    font-size: 15px;
    font-weight: bold;
    margin-bottom:5px;
    margin-top: 10px;
    padding-left: 10px;
}
.content .content_top .content_float_right p {
   padding-left: 10px;
   padding-right: 10px;
   color: #8e8e8e;
}

.weibo {
    text-align: left;
    color: #8e8e8e;

    float: right;
   
    background-color: #f5f5f5;
    margin-top: 20px;
    margin-right: 25px;
    padding: 5px;

    border: 1px solid #bdbdbd;
    border-radius: 6px;
    height: 75px;
    width: 260px;
}

.wei_icon {
  float: left;
  margin: 5px;
}

.wei_content {
  float: left;
  padding: 10px;
  font-size:120%;
}

.wei_content span{
  font-weight: bold;
}

.content .content_middle .content_float_left{
  float: left;
  margin-left: 28px;
  display: inline;
}

.content .content_middle .content_float_left .wrap{
    margin-top: 13px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    
    height:461px;
    width: 680px;
}

.content .content_middle .content_float_left .wrap .content_float_left_top{
    background-color: #ff9501;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 680px;

    height: 32px;
}

.content .content_middle .content_float_left .wrap .content_float_left_middle{
    background-image: url("../images/shadow_gray.png");
    background-repeat: repeat-x;
    width: 680px;
    height: 6px;
}

.content .content_middle .content_float_left .wrap .content_float_left_bottom .left{
    float: left;
    width: 300px;
    padding-left: 20px;
}

.content .content_middle .content_float_left_bottom  p{
    font-size: 12px;
    color:#6b6b6b;
    margin-top: 10px;
}

.content .content_middle .content_float_left_bottom td{
    padding-left: 10px;
    text-align: left;
    vertical-align: center;
    padding-top: 30px
}

.content_float_left_bottom tr{
    height: 180px;
}

.content .content_middle .content_float_left .wrap .content_float_left_bottom .right{
    float: right;
    width: 300px;
    padding-right: 20px;
}

.content .content_middle .content_float_left .wrap  ul{
    list-style: none;
    padding-top:10px;
    padding-left: 13px;
    margin: 0px;
}

.content .content_middle .content_float_left .wrap  li{
    float: left;
    width: 80px;
    height: 25px;
    display: list-item;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    font-family: microsoft yahei;
    padding-top: 9px;
    padding-left: 13px;
    margin: 0px;
}
.content .content_middle .content_float_left .wrap a{
    text-decoration: none;
    color: #838383;
}

#gray_cont{
    background-color: #e3e3e3;
    width: 680px;
    height:423px;
}

.white_cont{
    margin-left: 13px;
    /*margin-top: 32px;*/
    width: 655px;
    height: 400px;
    background-color: white;
    border-radius: 2px;
}

.white_cont h3{
    margin: 0;
}

.white_cont table{
    padding-top: 25px;
    width="100%";
    margin-left: 10px;
    align="left";
}

.white_cont td{
    vertical-align: top;
    padding-left: 5px;
}

.white_cont  p{
    margin-top: 5px;
    margin-left: 0;
    color: #949494;
}

.white_cont  .price{
    margin-top: 40px;

}

.white_cont  img{
    -moz-box-shadow:2px 2px 10px #363636;
    -webkit-box-shadow:2px 2px 10px #363636;
    box-shadow:2px 2px 10px #363636;
}

.white_cont .intro{
}

.content .content_middle .content_float_right{
    float: right;
   
    border-radius: 3px;
    width: 271px;

    background-color: #f5f5f5;
    margin-top: 10px;
    margin-right: 25px;
}
.text_top{
    color: #cb6518;
    font-weight: bold;
    font-size: 15px;
    font-family: microsoft yahei;
    padding-top: 10px;
    text-align: left;
    padding-left: 20px
}
.content .content_middle .content_float_right .content_float_right_middle{
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    height: 785px;
    margin-left: 1px;
    width: 268px;
    position: relative;
    top:-10px;
}

.divi{
    background-image: url("../images/left_divider.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 2px;
}
.content .content_middle .content_float_right .content_float_right_middle .left{
    float: left;
    margin-left: 25px;
    margin-top: 12px;
}

.content .content_middle .content_float_right .content_float_right_middle .right{
    float: left;
    text-align: left;
    margin-left: 30px;
    font-family: yahei;
}

.content .content_middle .content_float_right .content_float_right_middle .right h1{
    color: #cb6518;
    font-family: verdana;
    margin-bottom: 8px;

}
.content .content_middle .content_float_right .content_float_right_middle .right p{

    font-size: 15px;
    font-weight: bold;
    margin-bottom:5px;
    margin-top: 0;

}
.content .content_middle .content_float_right .content_float_right_middle img{
  width: 68px;
}

.right_cont{
    margin-bottom: 8px;
}
 .writer {
    color: #bdbdbd;
    font-size: 12px;
}

.content_bottom {
    width:970px;
    padding-left: 28px;
    padding-top: 6px;
    height:180px;
    clear:both;
}

.content_bottom .content_bottom_left{
    float: left;
    background-color: #ff9501;
    width: 90px;
    height: 160px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: inline
}

.content_bottom .content_bottom_middle{
    float: left;
    background-image: url("../images/shadow_bottom.png");
    background-repeat: repeat-y;
    height: 160px;
    width: 6px;
}

.content_bottom .content_bottom_right{
    float: right;
    background-color: #e3e3e3;
    width: 874px;
    height: 160px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.content_bottom .content_bottom_right  ul{
    list-style: none;
    margin-top: 8px;
    margin-left: 0px;
    padding-top:1px;
    padding-left: 5px;
}

.content_bottom .content_bottom_right  li{
    float: left;
    width: 120px;
    height: 135px;
    display: list-item;
    text-align: center;
    font-family: microsoft yahei;
    padding-top:  9px;
   
    background-color: white;

}
.content_bottom .content_bottom_right p{
    color: #5e5d5d;
    font-size: 13px;
    font-weight: bold;
    margin-bottom:2px;
    margin-top: 3px;
    font-weight: bold;
}

.content_bottom .content_bottom_right a{
    text-decoration: none;
    color: #FF9501;
    font-size: 12px;
}

.content_bottom .content_bottom_right img{
   height: 80%; 
   max-width: 90px;
}

.shadow{
    position: relative;
    left: -6px;
    width: 15px !important;
    height: 103px;

}
/*-----------------------------bottom_link----------------------------------*/
.bottom_link{
    height: 100px;
}
.printer{
    margin-top: 0px;
    margin-left: 130px;
}
.bottom_link ul{
    list-style: none;
    position: relative;
    top:-5px;
}

.bottom_link  li{
    float: left;
    width: 120px;
    display: list-item;
    text-align: center;
    color: #c87501;
  

  }
.bottom_link a{
    color: #c87501;
    text-decoration: none;
    font-size: 10px;
    font-family: microsoft yahei;
    font-weight: normal;
}
.bottom_link .left{
    float: left;
    margin-left: 240px;
}

.bottom_link .right{
  float: left;
}

.clear{
    clear: both;
}

/*--------copy from bootstrap---------*/
.label,
.badge {
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.label {
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.badge {
  padding: 1px 9px 2px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

a.label:hover,
a.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label-important,
.badge-important {
  background-color: #b94a48;
}

.label-important[href],
.badge-important[href] {
  background-color: #953b39;
}

.label-warning,
.badge-warning {
  background-color: #f89406;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.label-success,
.badge-success {
  background-color: #468847;
}

.label-success[href],
.badge-success[href] {
  background-color: #356635;
}

.label-info,
.badge-info {
  background-color: #3a87ad;
}

.label-info[href],
.badge-info[href] {
  background-color: #2d6987;
}

.label-inverse,
.badge-inverse {
  background-color: #333333;
}

.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a;
}

.news_block {
  margin-top: 10px;
}

.news hr{
  display:block;
  clear:both;
}

.news_image{
  float: left;
  height: 90px;
  margin-right: 10px;
}

.news_content {
  text-align: left;
}

.news_content .title{
  font-size: 120%;
}

.brand_image{
  max-height: 130px;
  max-width: 100px;
}
