a img {
   border:none;
}

.sales_right{
    float: right;
    width: 270px;
    margin-right: 25px;
    *margin-left: 5px;
}

.sales_left{
    float: left;
    
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    margin-left: 28px;
    *margin-left: 5px;
    min-height:1080px;
    width: 680px;
    display: inline;

    height:auto !important;
    height:1080px;
}

.sales_left .content_float_left_top{
    background-color: #ff9501;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 680px;
    height: 32px;
}

.sales_left .content_float_left_middle{
    background-image: url("/images/shadow_gray.png");
    background-repeat: repeat-x;
    width: 680px;
    height: 6px;

}
.sales_left  .content_float_left_bottom ul{
    list-style: none;
    margin: 0px;
    padding-top:10px;
    padding-left: 13px;
}
.sales_left  .content_float_left_bottom li{
    text-align: left;
    padding-top: 10px;
}

.content_float_left_bottom {
    padding: 5px;
}

.sales_left  .book_img{
    float: left;
    margin-left: 5px;
    width: 175px;
    height: 100%;
}

.book_img img{
    max-height:200px;
    max-width:165px;
    *height:125px;
    *width:90px;
}

.book_img a{
  padding-left: 15px;
  bottom: 0px;
}

.sales_left  .disc{
    float: left;
    width: 360px;
    background-color: #FAF9F7;
    padding: 20px 0 20px 25px;
}

.sales_left  .writer{
  margin-top: 16px;
  height: 20px;
}

.sales_left   .price{
  color: #8e8e8e;
  height: 25px;
  margin-top: 16px;
}

.sales_left   .title{
  font-size:140%;
}

.sales_left   hr{
    width: 620px;
    margin-right: 30px;
    background-color: #eeeeee;

    height: 1px;
    border: none;
}
.content_book_detail{
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 35px;
}
.content_book_detail .middle{
    text-align: left;
    margin-top: 50px;
    color: #8e8e8e;
    padding-left: 26px;
    margin-bottom: 40px;
}
.content_book_detail  p{
    color: #8e8e8e;
}
.content_book_detail  .bottom{
    color: #8e8e8e;
    padding-top: 30px;
    line-height: 170%;
    text-align: left;
}

.news_img{
  float: right;
  max-width: 160px;
}

.category_img{
  float: right;
  max-width: 200px;
  margin: 5px;
  margin-top: 75px;
}

.news_title{
  width: 400px;
  text-align: left;
  float:left;
  font-size: 20px;
  margin-bottom: 16px;
} 

.bottom p{
    margin-bottom: -10px;
    font-size: 110%;
}

.sales_right{
    float: right;
}
.sales_right .content_float_right_1{
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    height: 260px;
    width: 270px;

    background-color: #eee;
    margin-right: 25px;
    *margin-right: 0px;

    /*padding-left: 26px;*/
    /*padding-top: 30px;*/
    /*padding-right: 16px;*/

    line-height: 170%;

    text-align: left;
    color: #8e8e8e;
}

.content_float_right_1  .title{
    color: #8e8e8e;
    font-size: 15px;
    font-weight: bold;
    margin-bottom:15px;
    margin-top: 10px;
    padding-left: 10px;
    height:30px;
}

.content_float_right_1 p {
    padding-left: 10px;
    padding-right: 10px;
    color: #8e8e8e;
}

.sales_right .content_float_right_2{
    float: right;

    border-radius: 3px;
    height: 810px;
    width: 271px;

    background-color: #f5f5f5;
    margin-top: 10px;
}
.content_float_right_2 .content_float_right_middle img{
    width: 68px;
}
.sales_right .content_float_right_2  .content_float_right_middle{
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    height: 777px;
    margin-left: 1px;
    width: 268px;
    position: relative;
    top:-10px;
    *top:-155px;
    *left:-10px;
}

.sales_right .content_float_right_2  .content_float_right_middle .left{
    float: left;
    margin-left: 25px;
    margin-top: 12px;
}

.sales_right .content_float_right_2  .content_float_right_middle .right{
    float: left;
    text-align: left;
    margin-left: 30px;
    font-family: yahei;
}
.sales_right .content_float_right_2 .content_float_right_middle .right h1{
    color: #cb6518;
    font-family: verdana;
    margin-bottom: 8px;
}
.sales_right .content_float_right_2  .content_float_right_middle .right p{
    color: #5e5d5d;
    font-size: 15px;
    font-weight: bold;
    margin-bottom:5px;
    margin-top: 0;
}
