<% @authors.each do |author| %>
  <% if author.id > params[:last_id].to_i%>
    <% html = "<option value='#{author.id}'>#{author.name}</option>"%>
    $("#product_author_id").append("<%=raw html%>")
  <% end%>
<% end %>
