<div class='row-fluid'>
  <div class='span3'>
  </div>
  <div class='span5'>
    <%= form_for(@doc) do |f| %>
      <% if @doc.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

          <ul>
            <% @doc.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="control-group">
        <%= f.label "标题:", :class => 'control-label' %>
        <div class='controls'>
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag "上传文件:",nil, :class => 'control-label' %>
        <div class='controls'>
          <%= f.file_field 'file'%>
        </div>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
