<h2>管理下载</h2>

<table class='table'>

<% @docs.each do |doc| %>
  <tr>
    <td><%= doc.name %></td>
    <td><%= link_to '下载', doc.file.url(:original, false) %></td>
    <td><%= link_to '编辑', edit_doc_path(doc) %></td>
    <td><%= link_to '删除', doc, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加下载', new_doc_path %>
