<h2>下载列表</h2>
<div class='row-fluid'>
  <div class='span2'>
  </div>
  <div class='span8'>

    <table class='table'>

      <% @docs.each do |doc| %>
        <tr>
          <td style="width: 80%"><%= doc.name %></td>
          <td><%= link_to '下载', doc.file.url(:original, false), :class => :btn %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
