<h1>出版动态</h1>

<table class="table">
  <tr>
    <th>标题</th>
    <th>图片</th>
    <th>正文</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td class="span2"><%= image_tag event.image.url(:medium),:size=>'80x120' %></td>
    <td><%= event.content %></td>
    <td><%= link_to '查看', event, :class => "btn" %></td>
    <td><%= link_to '编辑', edit_event_path(event), :class => "btn" %></td>
    <td><%= link_to '删除', event, :class => "btn", :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加 出版动态', new_event_path %>
