<h1>出版动态</h1>

<div class="row news_block">
  <div class="span8 offset2">
    <% @events.each do |event| %>
      <div class='news'>
        <%= image_tag event.image(:medium), :class => "news_image" if event.image.exists?%>
        <div class='news_content'>
          <p class="title"><%=link_to event.title, event %></p>
          <p><%= truncate event.content, :length => 100 %></p>
        </div>
        <hr/>
      </div>
    <% end %>
  </div>
</div>
