<div id="demo" style="overflow: hidden; width: 690px; height: 92px"> 
  <table align="center" border="0" cellpadding="0" cellspacing="0"> 
    <tbody><tr> 
        <td id="demo1"> 
          <table id="ctl00_CenterContent_DListAuthor" cellspacing="0" border="0" style="height:92px;width:1500px;border-collapse:collapse;"> 
            <tbody><tr> 
                <td align="center" style="width:100px;"> 

                  <% Author.for_author_flow(10).each do |author|%>
                    <a id="ctl00_CenterContent_DListAuthor_ctl00_AuthorShow" title="<%= author.name%>" href="<%= author_path(author)%>" target="_blank">
                      <%= image_tag author.avatar_url, :style=>"width: 92px; height: 92px; border:0px;"%>
                    </a>
                    </td><td align="center" style="width:100px;"> 
                  <% end%>



                  <a id="ctl00_CenterContent_DListAuthor_ctl00_AuthorShow" title="张爱玲" href="http://www.readinglife.com/zhangailing" target="_blank">
                    <%= image_tag "6240000014.jpg", :style=>"width: 92px; height: 92px; border:0px;"%>
                  </a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl01_AuthorShow" title="三毛" href="http://www.readinglife.com/sanmao" target="_blank">
                    <%=image_tag "6240000015.jpg", :style=>"width: 92px; height: 92px; border:0px;"%>
                  </a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl02_AuthorShow" title="张小娴" href="http://www.readinglife.com/zhangxiaoxian" target="_blank">
                    <%= image_tag "6240000016.jpg", :style=>"width: 92px; height: 92px; border:0px;"%>
                  </a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl03_AuthorShow" title="安妮宝贝" href="http://www.readinglife.com/annibaobei" target="_blank">
                    <%= image_tag "6240000017.jpg", :style=>"width: 92px; height: 92px; border:0px;"%>
                  </a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl04_AuthorShow" title="陈忠实" href="http://www.readinglife.com/chenzhongshi" target="_blank">
                    <%=image_tag "6240000022.jpg", :style=>"width: 92px; height: 92px; border:0px;"%>
                  </a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl05_AuthorShow" title="沈从文" href="http://www.readinglife.com/shencongwen" target="_blank">
                    <%= image_tag "6240000036.jpg", :style=>"width: 92px; height: 92px; border:0px;"%>
                  </a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl06_AuthorShow" title="艾丽丝·门罗" href="http://www.readinglife.com/W0005" target="_blank">
                    <%= image_tag "6240000046.jpg", :style=>"width: 92px; height: 92px; border:0px;"%>
                  </a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl07_AuthorShow" title="斯宾塞·约翰逊" href="http://www.readinglife.com/W1035" target="_blank"><img src="./新经典悦读网-新经典文化_files/6240000095.jpg" style="width: 92px; height: 92px; border:0px;"></a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl08_AuthorShow" title="松本清张" href="http://www.readinglife.com/W2021" target="_blank"><img src="./新经典悦读网-新经典文化_files/6240000096.jpg" style="width: 92px; height: 92px; border:0px;"></a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl09_AuthorShow" title="谢尔·希尔弗斯坦" href="http://www.readinglife.com/W1041" target="_blank"><img src="./新经典悦读网-新经典文化_files/6240000105.jpg" style="width: 92px; height: 92px; border:0px;"></a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl10_AuthorShow" title="岩井俊二" href="http://www.readinglife.com/W2025" target="_blank"><img src="./新经典悦读网-新经典文化_files/6240000107.jpg" style="width: 92px; height: 92px; border:0px;"></a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl11_AuthorShow" title="村上春树" href="http://www.readinglife.com/W1002" target="_blank"><img src="./新经典悦读网-新经典文化_files/6240000117.jpg" style="width: 92px; height: 92px; border:0px;"></a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl12_AuthorShow" title="宫部美雪" href="http://www.readinglife.com/W1004" target="_blank"><img src="./新经典悦读网-新经典文化_files/6240000122.jpg" style="width: 92px; height: 92px; border:0px;"></a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl13_AuthorShow" title="范稳" href="http://www.readinglife.com/fanwen" target="_blank"><img src="./新经典悦读网-新经典文化_files/NoImage.gif" style="width: 92px; height: 92px; border:0px;"></a> 
                  </td><td align="center" style="width:100px;"> 





                  <a id="ctl00_CenterContent_DListAuthor_ctl14_AuthorShow" title="路遥" href="http://www.readinglife.com/luyao" target="_blank"><img src="./新经典悦读网-新经典文化_files/6240000033.jpg" style="width: 92px; height: 92px; border:0px;"></a> 
                </td> 
              </tr> 
          </tbody></table> 
        </td> 
        <td id="demo2"> 
        </td> 
      </tr> 
  </tbody></table> 
</div> 
<script language="javascript" type="text/javascript"> 
  <!--
  var demo = document.getElementById("demo");
  var demo1 = document.getElementById("demo1");
  var demo2 = document.getElementById("demo2");
  var speed = 18;    //数值越大滚动速度越慢
  demo2.innerHTML = demo1.innerHTML
  function Marquee(){
    if(demo.scrollLeft >= demo1.offsetWidth)
      demo.scrollLeft-=demo1.offsetWidth
    else{
      demo.scrollLeft++
    }
  }
var MyMar = setInterval(Marquee,speed);
demo.onmouseover = function(){clearInterval(MyMar)}
demo.onmouseout = function(){MyMar = setInterval(Marquee,speed)}
-->
</script> 
<div class="DivBlank"></div> 
