<table border="0" cellspacing="0" cellpadding="0" width="100%"> 
  <tbody> 
    <tr bgcolor="#ffffff" width=""> 
      <td bgcolor="#f1f1f1" valign="top" rowspan="3" width="0" align="middle"> 
        <table border="0" cellspacing="0" cellpadding="0" width="0"> 
          <tbody></tbody></table></td> 
      <td style="TEXT-ALIGN: left" class="font_color_01" bgcolor="#f1f1f1"><strong>&nbsp;华语作家圈：</strong>&nbsp;<a href="http://www.readinglife.com/zhangailing">张爱玲</a> |&nbsp;<a href="http://www.readinglife.com/sanmao">三毛</a> |&nbsp;<a href="http://www.readinglife.com/shencongwen">沈从文</a> |&nbsp;<a href="http://www.readinglife.com/linhaiyin">林海音</a> |&nbsp;<a href="http://www.readinglife.com/chenzhongshi">陈忠实</a> |&nbsp;<a href="http://www.readinglife.com/gaojianqun">高建群</a> |&nbsp;<a href="http://www.readinglife.com/luyao">路遥</a> | <a href="http://www.readinglife.com/liuqingbang">刘庆邦</a> |&nbsp;<a href="http://www.readinglife.com/yanlianke">阎连科</a> | <a href="http://www.readinglife.com/annibaobei">安妮宝贝&nbsp;</a>| <a href="http://www.readinglife.com/zhangxiaoxian">张小娴</a></td></tr> 
    <tr> 
      <td style="TEXT-ALIGN: left" class="font_color_01"><strong>&nbsp;欧美作家圈：</strong> <a href="http://www.readinglife.com/W0001">托妮·莫里森</a> | <a href="http://www.readinglife.com/W0002">多丽丝·莱辛</a> |&nbsp;<a href="http://www.readinglife.com/W1041">希尔弗斯坦</a> |&nbsp;<a href="http://www.readinglife.com/W0004">保罗·柯艾略</a> | <a href="http://www.readinglife.com/W0005">艾丽丝·门罗 </a>| <a href="http://www.readinglife.com/W0003">杜鲁门·卡波特</a> | <a href="http://www.readinglife.com/W1028">帕克丝特</a></td></tr> 
    <tr> 
      <td style="TEXT-ALIGN: left" class="font_color_01" bgcolor="#f1f1f1"><strong>&nbsp;日韩作家圈：</strong> <a href="http://www.readinglife.com/W2026">远藤周作 </a>| <a href="http://www.readinglife.com/W1008">东野圭吾</a> | <a href="http://www.readinglife.com/W2025">岩井俊二</a> | <a href="http://www.readinglife.com/W1004">宫部美雪</a> |&nbsp;<a href="http://www.readinglife.com/W2021">松本清张</a> |&nbsp;<a href="http://www.readinglife.com/W2016">山冈庄八</a> |&nbsp;<a href="http://www.readinglife.com/W2013">柳美里</a> | <a href="http://www.readinglife.com/W1006">黑柳彻子</a> | <a href="http://www.readinglife.com/W1010">金河仁</a></td></tr></tbody></table> 
