<table border="0" cellpadding="0" cellspacing="0" width="100%"> 

  <tbody><tr> 
      <td align="left" style="width: 170px" valign="top"> 

        <a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60002" "=""> 
          <span class="h4"> 
            华语文学
        </span></a>（十月文艺）
        <div id="ctl00_CenterContent_Repeater1_ctl01_Default_Ad_Book_Sort"><p><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60093">张爱玲</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60107">三毛 </a><br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60108">张小娴</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60109">安妮宝贝</a> <br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60110">沈从文</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60126">路遥</a> <br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60125">陈忠实</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60127">高建群</a> <br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60138">侯文咏</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60130">张翎</a><br><a href="http://www.readinglife.com/Book/BookSearch.aspx?QSortId=62300002&QKeyCKind=QAuthorName&QKeyWords=%c1%d6%ba%a3%d2%f4&">林海音</a>&nbsp;| <a href="http://www.readinglife.com/Book/BookSearch.aspx?QKeyCKind=QAuthorName&QKeyWords=%c0%cf%c9%e1&QGoodsSortId=62300002" booksearch.aspx?qkeyckind="QAuthorName&amp;QKeyWords=%c0&quot;" book="">老舍</a></p> 
          <p></p></div> 
      </td> 
      <td valign="top" style="width:110px; text-align:left;"> 
        <div style="height:5px; overflow:hidden;"></div> 
        <a id="ctl00_CenterContent_Repeater1_ctl01_ImageTj" href="http://www.readinglife.com/Goods/Book-1100011080002.html">
          <%=image_tag "1100011080002_1.jpg",:class=>'GoodPics',:width=>"70px"%>
        </a> 
      </td> 
      <td align="left" valign="top" style="width: 400px"> 
        <div class="float_left"> 
          <a id="ctl00_CenterContent_Repeater1_ctl01_BookNameTj" href="http://www.readinglife.com/Goods/Book-1100011080002.html" target="_blank"><span class="BookName14">寻找家园</span></a> 
        </div> 
        <div class="float_right" style="display:none;">
          <img src="./新经典悦读网-新经典文化_files/dingyue.gif" style="border:0;" alt="" valign="absmiddle">
          <%= image_tag "dingyue.gif", :style=>"border:0;", :alt=>"", :valign=>"absmiddle"%>
        </div> 
        <br> 
        <div style="vertical-align: top;">                           
          <span id="ctl00_CenterContent_Repeater1_ctl01_BookExplainTj">
            <p>一代学人的心灵史&nbsp; 关于苦难的艺术之书<br>沉重如山 灵动如水 当代散文最美的收获<br>增订新版&nbsp; 传世经典<br>黄钟大吕，震撼之音可闻；天籁之音，典雅之韵留香。<br>劲健而饱满的文...
            </p>
          </span>
        </div> 
        <div style="height:6px; overflow:hidden;"></div> 
        <span id="ctl00_CenterContent_Repeater1_ctl01_Default_Ad_Book_Award">
          <a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60002">
            <font style="COLOR: #000000">[抢鲜阅读]</font> 
          </a>
          <a href="http://www.readinglife.com/Goods/Book-1100010030031.html">龙凤艺术</a> 
          <a href="http://www.readinglife.com/Goods/Book-110009120045.html">最后一个匈奴</a> 
          <a href="http://www.readinglife.com/Goods/Book-1100010030033.html">丰乳肥臀<br></a>
          <a href="http://www.readinglife.com/Book/Award.aspx"><font style="COLOR: #000000">[大奖图书]</font> </a>
          <a href="http://www.readinglife.com/Book/Award.aspx?QSortId=62300002&QKeyCKind=QAuthorAward&QKeyWords=%c3%a9%b6%dc%ce%c4%d1%a7%bd%b1">茅盾文学奖 </a><a href="http://www.readinglife.com/Goods/Book-110009120289.html">平凡的世界 </a><a href="http://www.readinglife.com/Goods/Book-110009120292.html">白鹿原<br></a><a href="http://www.readinglife.com/Goods/Book-110009120312.html"><font style="COLOR: #000000">[热门作者]</font> </a><a href="http://www.readinglife.com/zhangailing">张爱玲 </a><a href="http://www.readinglife.com/sencongwen">沈从文 </a><a href="http://www.readinglife.com/luyao">路遥 </a><a href="http://www.readinglife.com/sanmao">三毛 <br></a><a href="http://www.readinglife.com/News/ListArticle.aspx?QSortId=75"><font style="COLOR: #000000">[热门书评]</font></a>&nbsp;<a href="http://www.readinglife.com/News/Article-6110030016.html">读路遥《人生》：人生路没有答案 </a></span> 
      </td> 
    </tr> 
    <tr id="ctl00_CenterContent_Repeater1_ctl01_TrBg_Line"> 
      <td class="bg_line" colspan="3"> 
        &nbsp;</td> 
    </tr> 


    <tr> 
      <td align="left" style="width: 170px" valign="top"> 

        <a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60003" "=""> 
          <span class="h4"> 
            外国文学
        </span></a>（新经典文库）
        <div id="ctl00_CenterContent_Repeater1_ctl02_Default_Ad_Book_Sort"><p><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60033">英语文学</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60034">日韩文学</a>&nbsp;<br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60111">西语文学</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60107">德语文学</a>&nbsp;<br><a href="http://www.readinglife.com/W1008">东野圭吾</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60114">德川家康</a><br><a href="http://www.readinglife.com/W2026">远藤周作</a>&nbsp;| <a href="http://www.readinglife.com/W1004">宫部美雪</a><br><a href="http://www.readinglife.com/W0001">托妮&#8226;莫里森</a>&nbsp;| <a href="http://www.readinglife.com/W1039">希斯洛普<br></a><a href="http://www.readinglife.com/W0002">多丽丝&#8226;莱辛</a>&nbsp;| <a href="http://www.readinglife.com/W0008">康薇尔<br></a><a href="http://www.readinglife.com/W0004">保罗&#8226;柯艾略</a>&nbsp;| <a href="http://www.readinglife.com/W0003">卡波特<br></a></p><a href="http://www.readinglife.com/W1002">村上春树</a>&nbsp;</div> 
      </td> 
      <td valign="top" style="width:110px; text-align:left;"> 
        <div style="height:5px; overflow:hidden;"></div> 
        <a id="ctl00_CenterContent_Repeater1_ctl02_ImageTj" href="http://www.readinglife.com/Goods/Book-1100011080001.html">
          <%= image_tag "1100011080001_1.jpg", :class=>"GoodsPic", :width=>"70px"%>
        </a> 
      </td> 
      <td align="left" valign="top" style="width: 400px"> 
        <div class="float_left"> 
          <a id="ctl00_CenterContent_Repeater1_ctl02_BookNameTj" href="http://www.readinglife.com/Goods/Book-1100011080001.html" target="_blank"><span class="BookName14">百年孤独</span></a> 
        </div> 
        <div class="float_right" style="display:none;"><%=image_tag "dingyue.gif", :style=>"border:0;", :alt=>"", :valign=>"absmiddle"%></div> 
        <br> 
        <div style="vertical-align: top;">                           
          <span id="ctl00_CenterContent_Repeater1_ctl02_BookExplainTj"><p>缔造文坛传奇与文学奇迹<br>史上“最无争议”诺贝尔文学奖得主<br>影响世界小说走向的文学巨匠——加西亚·马尔克斯巅峰杰作！</p>...</span> 
        </div> 
        <div style="height:6px; overflow:hidden;"></div> 
        <span id="ctl00_CenterContent_Repeater1_ctl02_Default_Ad_Book_Award"><font style="COLOR: #000000"><a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60003">[抢鲜阅读]</a></font>&nbsp;<a href="http://www.readinglife.com/Goods/Book-1100011080004.html">超·杀人事件</a> <a href="http://www.readinglife.com/Upload/Special/myzhuo_100319/Default.asp">牧羊少年奇幻之旅</a> <br><a href="http://www.readinglife.com/Book/Award.aspx"><font style="COLOR: #000000">[大奖图书] </font></a><a href="http://www.readinglife.com/Book/Award.aspx?QSortId=62300002&QKeyCKind=QAuthorAward&QKeyWords=%c5%b5%b1%b4%b6%fb%ce%c4%d1%a7%bd%b1">诺贝尔文学奖&nbsp;</a> <a href="http://www.readinglife.com/Book/Award.aspx?QSortId=62300002&QKeyCKind=QAuthorAward&QKeyWords=%c6%d5%c0%fb%b2%df%ce%c4%d1%a7%bd%b1">普利策文学奖</a><br><a href="http://www.readinglife.com/Author/"><font style="COLOR: #000000">[热门作者] </font></a><a href="http://www.readinglife.com/W2025">岩井俊二</a> <a href="http://www.readinglife.com/W0003">杜鲁门&#8226;卡波特</a> <br><a href="http://www.readinglife.com/News/ListArticle.aspx?QSortId=76"><font style="COLOR: #000000">[热门书评] </font></a><a href="http://www.readinglife.com/News/Article-6110040057.html">《天使游戏》：狄更斯时代的哀伤</a> </span> 
      </td> 
    </tr> 
    <tr id="ctl00_CenterContent_Repeater1_ctl02_TrBg_Line"> 
      <td class="bg_line" colspan="3"> 
        &nbsp;</td> 
    </tr> 


    <tr> 
      <td align="left" style="width: 170px" valign="top"> 

        <a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60004" "=""> 
          <span class="h4"> 
            少儿·绘本
        </span></a>（爱心树）
        <div id="ctl00_CenterContent_Repeater1_ctl03_Default_Ad_Book_Sort"><font style="COLOR: #444444"><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60094">杰出绘本选</a>&nbsp;| <a href="http://www.readinglife.com/Goods/Book-110009120181.html">小猫当当</a>&nbsp;<br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60095">爱心树童话</a>&nbsp;| <a href="http://www.readinglife.com/Book/BookSearch.aspx?QKeyCKind=QBookName&QKeyWords=%bf%d6%c1%fa%b4%f3%c2%bd&QGoodsSortId=62300002">恐龙大陆</a>&nbsp;<br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60101">学习力丛书</a> | <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60117">小兔波力</a>&nbsp;<br><a href="http://www.readinglife.com/Book/BookSearch.aspx?QKeyCKind=QBookName&QKeyWords=%ca%f3%d0%a1%b5%dc&QGoodsSortId=62300002">可爱的鼠小弟</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60119">福音馆</a>&nbsp;<br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60116">提姆与莎兰</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60118">儿童之友</a>&nbsp;<br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60120">超级小虎队</a></font></div> 
      </td> 
      <td valign="top" style="width:110px; text-align:left;"> 
        <div style="height:5px; overflow:hidden;"></div> 
        <a id="ctl00_CenterContent_Repeater1_ctl03_ImageTj" href="http://www.readinglife.com/Goods/Book-1100010080020.html">
          <%=image_tag "1100010080020_1.jpg", :class=>"GoodsPic", :width=>"70px"%>
        </a> 
      </td> 
      <td align="left" valign="top" style="width: 400px"> 
        <div class="float_left"> 
          <a id="ctl00_CenterContent_Repeater1_ctl03_BookNameTj" href="http://www.readinglife.com/Goods/Book-1100010080020.html" target="_blank"><span class="BookName14">鳄鱼哥尼流</span></a> 
        </div> 
        <div class="float_right" style="display:none;">
          <%= image_tag "dingyue.gif", :style=>"border:0;", :alt=>"", :valign=>"absmiddle"%></div> 
        <br> 
        <div style="vertical-align: top;">                           
          <span id="ctl00_CenterContent_Repeater1_ctl03_BookExplainTj">☆ 四届凯迪克奖得主,绘本大师 李欧&#8226;李奥尼不朽杰作 <br> 
            ☆ 《小黑鱼》姊妹篇,给孩子敢于与众不同的勇气与力量 <br> 
            ☆ 坚持做自己，敢于与众不同；积极接纳新事物，勇于改变陈旧与...</span> 
        </div> 
        <div style="height:6px; overflow:hidden;"></div> 
        <span id="ctl00_CenterContent_Repeater1_ctl03_Default_Ad_Book_Award"><a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60004"><font style="COLOR: #000000">[绘本新书] </font></a><a href="http://www.readinglife.com/Goods/Book-110009120637.html">我不知道我是谁</a> <a href="http://www.readinglife.com/Goods/Book-110009120625.html">晚安，小熊 </a><br><a href="http://www.readinglife.com/Book/Award.aspx"><font style="COLOR: #000000">[童书大奖] </font></a><a href="http://www.readinglife.com/Book/Award.aspx?QSortId=62300002&QKeyCKind=QAuthorAward&QKeyWords=%bf%ad%b5%cf%bf%cb%b4%f3%bd%b1">凯迪克金奖</a> <a href="http://www.readinglife.com/Book/Award.aspx?QSortId=62300002&QKeyCKind=QAuthorAward&QKeyWords=%b5%c2%b9%fa%bb%e6%b1%be%b4%f3%bd%b1">德国绘本大奖</a> <a href="http://www.readinglife.com/Book/Award.aspx?QSortId=62300002&QKeyCKind=QAuthorAward&QKeyWords=%bf%ad%cc%d8%a1%a4%b8%f1%c1%d6%cd%fe%bd%b1">凯特格林威奖</a><br><a href="http://www.readinglife.com/Author/"><font style="COLOR: #000000">[热门作者] </font></a><a href="http://www.readinglife.com/W1041">谢尔·希尔弗斯坦</a> <a href="http://www.readinglife.com/W1038">托马斯·布热齐纳</a><br><a href="http://www.readinglife.com/News/ListArticle.aspx?QSortId=77"><font style="COLOR: #000000">[专家导读] </font></a><a href="http://www.readinglife.com/News/Article-6100000311.html">梅子涵：这个路上的故事没有字</a> </span> 
      </td> 
    </tr> 
    <tr id="ctl00_CenterContent_Repeater1_ctl03_TrBg_Line"> 
      <td class="bg_line" colspan="3"> 
        &nbsp;</td> 
    </tr> 


    <tr> 
      <td align="left" style="width: 170px" valign="top"> 

        <a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60005" "=""> 
          <span class="h4"> 
            生活·健康
        </span></a> 
        <div id="ctl00_CenterContent_Repeater1_ctl04_Default_Ad_Book_Sort"><font style="COLOR: #444444"><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60046">优质生活</a> | <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60047">大众健康</a>&nbsp;<br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60049">亲子育儿</a> |&nbsp;<a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60103">学习教育</a></font></div> 
      </td> 
      <td valign="top" style="width:110px; text-align:left;"> 
        <div style="height:5px; overflow:hidden;"></div> 
        <a id="ctl00_CenterContent_Repeater1_ctl04_ImageTj" href="http://www.readinglife.com/Goods/Book-1100010080003.html">
          <%= image_tag "1100010080003_1.jpg", :class=>"GoodsPic", :width=>"70px"%>
        </a> 
      </td> 
      <td align="left" valign="top" style="width: 400px"> 
        <div class="float_left"> 
          <a id="ctl00_CenterContent_Repeater1_ctl04_BookNameTj" href="http://www.readinglife.com/Goods/Book-1100010080003.html" target="_blank"><span class="BookName14">超级阿嬷的信</span></a> 
        </div> 
        <div class="float_right" style="display:none;"><img src="./新经典悦读网-新经典文化_files/dingyue.gif" style="border:0;" alt="" valign="absmiddle"></div> 
        <br> 
        <div style="vertical-align: top;">                           
          <span id="ctl00_CenterContent_Repeater1_ctl04_BookExplainTj">&nbsp;&nbsp;&nbsp; ★近年来叫好又叫座的奇迹《佐贺的超级阿嬷》续作 <br>　　★系列作品日本狂销700万册 台湾地区超过100万册 <br>　　★继《窗边的小豆豆》后又一“既受家长老师欢迎，又受学生...</span> 
        </div> 
        <div style="height:6px; overflow:hidden;"></div> 
        <span id="ctl00_CenterContent_Repeater1_ctl04_Default_Ad_Book_Award"><a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60005"><font style="COLOR: #000000">[抢鲜阅读] </font></a><a href="http://www.readinglife.com/Goods/Book-1100010020003.html">面包新语</a> <a href="http://www.readinglife.com/Goods/Book-%201100010020004.html">让孩子越玩越聪明</a><br><a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60005"><font style="COLOR: #000000">[重点推荐] </font></a><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60047">大众健康丛书 </a>&nbsp;<a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60046">优质生活丛书</a><br><a href="http://www.readinglife.com/News/ListArticle.aspx?QSortId=78"><font style="COLOR: #000000">[热门书评] </font></a><a href="http://www.readinglife.com/News/Article-6100000302.html">看穿食品的美色与美味 </a></span> 
      </td> 
    </tr> 
    <tr id="ctl00_CenterContent_Repeater1_ctl04_TrBg_Line"> 
      <td class="bg_line" colspan="3"> 
        &nbsp;</td> 
    </tr> 


    <tr> 
      <td align="left" style="width: 170px" valign="top"> 

        <a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60006" "=""> 
          <span class="h4"> 
            财经·励志
        </span></a>（读书人）
        <div id="ctl00_CenterContent_Repeater1_ctl05_Default_Ad_Book_Sort"><font style="COLOR: #444444"><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60104">投资理财</a>&nbsp;| <a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60105">励志成功</a>&nbsp;<br><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60058">富 爸 爸<font color="#800080">&nbsp;</font><font color="#444444">|&nbsp;</font></a><a href="http://www.readinglife.com/Book/ListBook.aspx?QSortId=60121">斯 宾 塞</a></font></div> 
      </td> 
      <td valign="top" style="width:110px; text-align:left;"> 
        <div style="height:5px; overflow:hidden;"></div> 
        <a id="ctl00_CenterContent_Repeater1_ctl05_ImageTj" href="http://www.readinglife.com/Goods/Book-1100010070006.html">
          <%= image_tag "1100010070006_1.jpg", :class=>"GoodsPic", :width=>"70px"%>
        </a> 
      </td> 
      <td align="left" valign="top" style="width: 400px"> 
        <div class="float_left"> 
          <a id="ctl00_CenterContent_Repeater1_ctl05_BookNameTj" href="http://www.readinglife.com/Goods/Book-1100010070006.html" target="_blank"><span class="BookName14">《毕业第一年：慌慌都市打拼记》</span></a> 
        </div> 
        <div class="float_right" style="display:none;"><img src="./新经典悦读网-新经典文化_files/dingyue.gif" style="border:0;" alt="" valign="absmiddle"></div> 
        <br> 
        <div style="vertical-align: top;">                           
          <span id="ctl00_CenterContent_Repeater1_ctl05_BookExplainTj"><p>&nbsp;&nbsp;&nbsp; </p><br> 
            <p>&nbsp;&nbsp;&nbsp; 大学毕业后，慌慌冲到了梦想的北京。惬意的生活还没尝出滋味儿来，各种各样的打击就像多米诺骨牌一样连环...
            </p></span></div> 
            <div style="height:6px; overflow:hidden;"></div> 
            <span id="ctl00_CenterContent_Repeater1_ctl05_Default_Ad_Book_Award"><a href="http://www.readinglife.com/Book/Default.aspx?QSortId=60005"><font style="COLOR: #000000">[年度巨献] </font></a><a href="http://www.readinglife.com/Goods/Book-110009120025.html">富爸爸创富必读教程 <br></a><a href="http://www.readinglife.com/Author/"><font style="COLOR: #000000">[热门作者] </font></a><a href="http://www.readinglife.com/W1033">罗伯特&#8226;清崎 </a><a href="http://www.readinglife.com/W1035">斯宾塞&#8226;约翰逊 </a><a href="http://www.readinglife.com/W1032"><br></a><a href="http://www.readinglife.com/News/ListArticle.aspx?QSortId=79"><font style="COLOR: #000000">[热门书评] </font></a><a href="http://www.readinglife.com/News/Book-6110030024.html">高端阅读：直面职场“峰”与“谷” </a></span> 
          </td> 
        </tr> 


    </tbody></table> 
