<div id="ctl00_CenterContent_DivJDJB"> 
  <a href="http://www.readinglife.com/News/ListArticle.aspx?QSortId=91"> 
    <div class="Book_Left_Title0"> 
      <h1> 经典简报</h1>
    </div>
  </a> 
</div> 
<div class="DivBlank"> 
</div> 
<div style="width: 235px; overflow: hidden;">
  <% if @classic_products!=nil%>
    <% @classic_products.each do |product|%>
      <% if product.promote_img_name != nil%>
      <div style="CURSOR: pointer">&nbsp;<a href="<%= product_path(product.id)%>"><%=image_tag product.promote_img_name, :border=>"0"%></a></div>
      <% end%>
    <% end%>
  <% end%>

  <div style="CURSOR: pointer">&nbsp;<%=image_tag "20100813155816189.jpg", :border=>"0"%><a href="http://www.readinglife.com/Upload/Special/dscdy_100511/Default.asp"></a></div> 
  <div style="CURSOR: pointer">&nbsp;<%= image_tag "20100813160208749.jpg", :border=>"0"%></div> 
  <div style="CURSOR: pointer">&nbsp;<a href="http://www.readinglife.com/Upload/Special/Zhangxiaoxian_100309/Default.asp"><%=image_tag "20100406173907637.jpg",  :style=>"BORDER-LEFT-COLOR: #eeeeee; FILTER: ; BORDER-BOTTOM-COLOR: #eeeeee; WIDTH: 220px; BORDER-TOP-COLOR: #eeeeee; HEIGHT: 80px; BORDER-RIGHT-COLOR: #eeeeee", :height=>"80", :alt=>"张小娴爱情长篇力作：我终究是爱你的", :hspace=>"0", :width=>"220", :vspace=>"1", :border=>"1"%></a></div> 
  <div style="CURSOR: pointer">&nbsp;<%= image_tag "20100813155915261.jpg", :border=>"0"%><a href="http://www.readinglife.com/Upload/Special/lxzb/Default.asp"></a></div> 
  <div style="CURSOR: pointer">&nbsp;<%= image_tag "20100813155955192.jpg", :border=>"0"%><a href="http://www.readinglife.com/GSpecial/Special-751001020002.html"></a></div> 
  <div style="CURSOR: pointer">&nbsp;<a href="http://www.readinglife.com/Goods/Book-110009120087.html"><%= image_tag "20100301154315925.gif",:style=>"BORDER-LEFT-COLOR: #eeeeee; FILTER: ; BORDER-BOTTOM-COLOR: #eeeeee; WIDTH: 220px; BORDER-TOP-COLOR: #eeeeee; HEIGHT: 80px; BORDER-RIGHT-COLOR: #eeeeee",:height=>"80", :alt=>"张爱玲全集-小团圆", :hspace=>"0", :width=>"220", :vspace=>"1", :border=>"1"%></a></div> 
  <div style="CURSOR: pointer">&nbsp;<%= image_tag "20100813163235717.jpg", :border=>"0"%>&nbsp;</div> 
</div> 
