<div class="content_bottom">
  <div class="content_bottom_left">
    <div class="text_top" style="padding-top: 40px;">
      作者风采
    </div>
  </div>
  <div class="content_bottom_middle"></div>
  <div class="content_bottom_right">

    <ul>
      <% EReading.top(7).each do |eReading| #Author.for_author_flow(5).each do |author|%>
        <li>
          <%= link_to (image_tag eReading.avatar.url), eReading%>
          <p style="margin-top: 5px"></p>
          <p>
            <%= link_to eReading.name,eReading.url%>
          </p>
        </li>
      <% end%>
    </ul>

  </div>
  <div class="clear"></div>
</div>
