<div class="content_top">
  <div class="content_float_left">
    <div class="content_float_left_top">
      <a href="/news">
        <div style="float:left;color:#ce691b;font-size: 16px;font-weight:bold;padding-top: 11px;padding-left: 20px">
          活动现场
        </div>
      </a>
      <a href='/events'>
        <div style="color:#ce691b;font-size: 16px;font-weight:bold;padding-top: 11px;padding-right: 272px; text-align:right;">
          出版须知
        </div>
      </a>

    </div>
    <div class="content_float_left_middle">

    </div>
    <div class="content_float_left_bottom">
      <div class="left">
        <h2>
          <%= if @head_news!=nil then link_to((truncate @head_news.title,:length=>16),@head_news,:style => "color:#d17939;text-decoration:none") end%> 
        </h2>
        <p >
          <%= if @head_news!=nil then truncate @head_news.content,:length=>70 end%>
        </p>
        <%= if @head_news!=nil then link_to((image_tag @head_news.image(:medium),:height=>110),@head_news) end%>
      </div>
      <div class="right">
        <ul>
          <% if @news_list != nil%>
            <% @news_list.each do |news|%>
              <li>
                <% if news!=nil then%>
                  <%= link_to((truncate news.title,:length=>22),news,:style=>"text-decoration:none;color:#333")%> <span class="date"><%= news.created_at.strftime("%Y-%m-%d")%></span>
                <% end%>
              </li>
            <% end%>
          <% end%>
        </ul>
      </div>

    </div>

  </div>

  <div class="content_float_right">
    <% if @notices.size > 0 then%>
      <div class='title'>
          最新公告
      </div>

      <ul>
        <% if @notices != nil%>
          <% @notices.each do |n|%>
            <li>
              <% if n!=nil then%>
                <%= link_to((truncate n.title,:length=>18),n,:style=>"text-decoration:none;color:#333")%> <span class="date"><%= n.created_at.strftime("%Y-%m-%d")%></span>
              <% end%>
            </li>
          <% end%>
        <% end%>
      </ul>
    <% end%>
  </div>

  <div class="clear">
  </div>
</div>
