<div class="content">
  <%= render :partial => 'content_top' %>

  <%= render :partial => 'content_middle' %>

  <%= render :partial => 'content_bottom' %>

  <div class="clear"></div>
</div>
