<div class="content_float_left" >
  <div class="wrap" >
    <div class="content_float_left_top">
      <div  style="float: left; text-align:left;color:#853c03;font-size: 16px;font-weight:bold;padding-top: 11px;padding-left: 20px">
        特色服务
      </div>
      <div style="float: right;font-size: 13px;color: #eee;padding-right: 20px;padding-top: 10px">
      </div>
    </div>

    <div class="content_float_left_middle">
    </div>

    <div class="content_float_left_bottom">
      <% for i in 0..1%>
        <div class="<%= if i==0 then "left" else "right" end%>">
          <table>
            <% for j in 0..1%>
              <% brand = @brands[2*i + j]%>
              <tr>
                <td>
                  <% if brand!=nil%>
                    <%= link_to image_tag(brand.image,:class => "brand_image"),brand%>
                  <% end%>
                </td>

                <td >
                  <h3  style="margin-bottom:0;margin-top:25px "> 
                    <% if brand!=nil then brand_name = brand.name end%>
                      <%= if brand_name != nil then link_to brand_name, brand ,:style => "color:#d17939" end%>
                    </h3>
                    <p style="margin-top: 20px">
                    <%= if brand!=nil then truncate brand.description,:length=>118 end%> 
                    </p>
                </td>
              </tr>
            <% end%>
          </table>
        </div>
      <% end%>
    </div>
  </div>

  <div class="wrap" >
    <div class="content_float_left_top">
      <div  style="float: left; text-align:left;color:#853c03;font-size: 16px;font-weight:bold;padding-top: 11px;padding-left: 20px">
        最新上架
      </div>
    </div>

    <div class="content_float_left_middle">
    </div>

    <div id="gray_cont">
      <!-- <ul>
        <% Category.all.each do |c|%>
          <li style="<%= if c.id == 1 then "background-color: white;" end%>">
          <a href="javascript:a1('<%= c.id%>')" id="<%= c.id%>"><%= c.name%></a>
          </li>  
        <% end%>
      </ul> -->

      <!--<% Category.all.each do |c|%>  -->
        <div class="white_cont"  style=<%= unless c.id ==1  then "display:none;" end%>>
          <table>
            <% books = @latest_6_books %>
            <% for i in 0..1%>
              <% if i==1%>
                <tr>
                  <td height="30px">
                  </td>
                </tr>
              <% end%>

              <tr>
                <% for j in 0..2%>
                  <% book = books[3*i+j] %>
                  <% width = j==0 ? 63:100 %>

                  <td width="<%= width%>" align="right">
                    <%= if book!=nil then link_to( (image_tag book.image.url(:thumb),:size=>"90x136"),book) end%>
                  </td>
                  <td align="left" width="95" height="89" class="book_info">
                    <% if book!= nil%>
                      <% book_name = truncate book.title,:length=>7 %>
                      <h3><%= link_to book_name, book ,:style=>"color: #363636"%></h3>

                      <% author = book.author%>
                      <p><%= if author then truncate(author.name,:length=>8) end%></p>
                      <p class="intro"><%= truncate(book.description, :length => 35)%></p>
                    <% end%>
                  </td>
                <% end%>
              </tr>
            <% end%>  
          </table>
        </div>
        <!-- <% end%> -->

    </div>
  </div>
</div>
