<div class="content_float_right">
  <div  class="content_float_right_top" style="background-image: url('/images/left_top.png');height: 38px;overflow: hidden;">
    <div class="text_top">关注榜</div>
  </div>
  <div class="content_float_right_middle">
    <% i = 0%>
    <% @best_sellers.each do |book|%>
      <% if book!= nil%>
        <% i+=1%>
        <div class="right_cont">
          <div class="left">
            <%=if book!=nil then link_to((image_tag book.image.url(:thumb),:size=>"61x89"),book) end%>
          </div>
          <div class="right">
            <h1>
              <%= "0" + i.to_s if book!= nil%>
            </h1>
            <p>
            <%= if book!=nil then link_to((truncate book.title,:length=>9),book,:class=>:gray) end%>
            </p>
            <span class="writer">
              <%= if book!=nil&&book.author!=nil then "作者：" +  truncate(book.author.name,:length => 9) end%>
            </span>
          </div>
          <div class="clear"></div>
        </div>
        <div class="divi"></div>
      <% end%>
    <% end%>  
  </div>
  <div class="content_float_right_bottom" style="background-image: url('/images/left_bottom.png');height: 7px;position: relative;" ></div>
</div>

<!--
<a href='http://e.weibo.com/hunanrenmin'>
<div class="weibo">
  <img class='wei_icon' src='/images/LOGO_64x64.png'></img>

  <div class='wei_content'>
    <span>新浪微博</span>
    <p>去看看 @湖南人民出版社</p>
  </div>
</div>
</a>
-->
