<div style="clear:both;">&nbsp;</div> 
<div class="Book_Line_01"> 
</div> 
<table style="margin:0 auto;" border="0" cellpadding="0" cellspacing="0" width="950"> 
  <tbody><tr> 
      <td valign="top"> 
        <style type="text/css"> 
          <!--
          .STYLE1 {color: #9B0000;font-size:12px;}
          -->
        </style> 

      </td> 
    </tr> 
    <tr> 
      <td valign="top"> 
        <p align="center">&nbsp;俞氏文化 版权所有&nbsp;&nbsp; Copyright &#169; 2004 - 2012&nbsp;&nbsp; <a href="http://www.miibeian.gov.cn/">京 ICP 备 05051705 号</a> <br><a href="<%= root_path%>">www.readinglife.com</a>&nbsp; All Rights Reserved&nbsp;&nbsp;&nbsp;&nbsp;
        <script language="JavaScript" src="./新经典悦读网-新经典文化_files/stat.php"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1994629" target="_blank" title="站长统计"><%= image_tag "pic.gif" ,:border=>"0", :hspace=>"0", :vspace=>"0"%></a><%= image_tag "stat.htm", :border=>"0", :width=>"0",:height=>"0"%> 
        </p> 
        <p align="center">地址：长沙市湖南人民出版社&nbsp; 总机：010-68423599&nbsp; </p> 
      </td> 
    </tr> 
</tbody></table> 
