<div class="float_left" style="width: 685px; text-align: center;"> 

  <div class="Book_Left_Title0"> 
    <h1>
      经典书情·书评</h1> 
  </div> 

  <%= render :partial => 'newstar_box' %>
  <div class="DivBlank"></div> 
  <%= render :partial => 'author_flow' %>
  <div class="Book_Line_01"> 
  </div> 
  <div class="DivBlank" style="height:4px;"> 
  </div> 
</div> 
