<div class="Book_Left_Title0"> 
  <h1> 
    媒体聚焦·专题</h1> 
</div> 
<div id="ctl00_CenterContent_DivActivities"> 
  <a href="http://www.readinglife.com/News/ListArticle.aspx?QSortId=90"><h4>动态播报</h4></a> 

  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"> 

    <tbody><tr> 
        <td> 
          <a href="http://www.readinglife.com/News/Article-6111080011.html" target="_blank" title="2011年新经典翻译大赛启事">2011年新经典翻译大赛启事</a> 
        </td> 
      </tr> 
      <tr> 
        <td style="text-align:left;"> 

        </td> 
      </tr>                

  </tbody></table> 
  <div class="DivBlank"> 
  </div> 
</div> 

<div id="ctl00_CenterContent_DivMTJJ"> 
  <a href="http://www.readinglife.com/News/ListArticle.aspx?QSortId=5"><h4>媒体聚焦</h4></a> 
  <div style="width: 100%; margin: 0 auto;"> 

    <div id="ctl00_CenterContent_UCNewsChxInc2_TblQuery" style="text-align:left; vertical-align:top; width:100%"> 
      <table id="ctl00_CenterContent_UCNewsChxInc2_DList" cellspacing="0" border="0" style="width:100%;border-collapse:collapse;"> 
        <tbody><tr> 
            <td style="width:100%;"> 
              <div style="margin-left:0px;"> 
                <div class="float_left" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 233px;"> 
                  <a href="http://www.readinglife.com/News/SortNewsList.aspx?QSortId=5" target="_blank"></a><a href="http://www.readinglife.com/News/Article-6111080006.html" target="_blank" title="《百年孤独》和《冷浪漫》入选新浪中国好书榜2011年上半年“十大好书”"><span style="">[图]《百年孤独》和《冷浪漫》入选新浪中国好书榜2011年上半年“十大好书”</span></a> 
                </div> 
                <div style="display:none; float:right; width:110px; text-align:right;"> 

                </div> 
              </div> 

            </td> 
            </tr><tr> 
            <td style="width:100%;"> 
              <div style="margin-left:0px;"> 
                <div class="float_left" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 233px;"> 
                  <a href="http://www.readinglife.com/News/SortNewsList.aspx?QSortId=5" target="_blank"></a><a href="http://www.readinglife.com/News/Article-6110080009.html" target="_blank" title="扬子晚报：东野圭吾《分身》国内出版"><span style="">[图]扬子晚报：东野圭吾《分身》国内出版</span></a> 
                </div> 
                <div style="display:none; float:right; width:110px; text-align:right;"> 

                </div> 
              </div> 

            </td> 
            </tr><tr> 
            <td style="width:100%;"> 
              <div style="margin-left:0px;"> 
                <div class="float_left" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 233px;"> 
                  <a href="http://www.readinglife.com/News/SortNewsList.aspx?QSortId=5" target="_blank"></a><a href="http://www.readinglife.com/News/Article-6110070046.html" target="_blank" title="【新浪中国好书榜上半年榜揭晓】《1Q84》盘踞榜首"><span style="">【新浪中国好书榜上半年榜揭晓】《1Q84》盘踞榜首</span></a> 
                </div> 
                <div style="display:none; float:right; width:110px; text-align:right;"> 

                </div> 
              </div> 

            </td> 
            </tr><tr> 
            <td style="width:100%;"> 
              <div style="margin-left:0px;"> 
                <div class="float_left" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 233px;"> 
                  <a href="http://www.readinglife.com/News/SortNewsList.aspx?QSortId=5" target="_blank"></a><a href="http://www.readinglife.com/News/Article-6110060053.html" target="_blank" title="第一财经日报：无限接近于荒诞的真"><span style="">第一财经日报：无限接近于荒诞的真</span></a> 
                </div> 
                <div style="display:none; float:right; width:110px; text-align:right;"> 

                </div> 
              </div> 

            </td> 
            </tr><tr> 
            <td style="width:100%;"> 
              <div style="margin-left:0px;"> 
                <div class="float_left" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 233px;"> 
                  <a href="http://www.readinglife.com/News/SortNewsList.aspx?QSortId=5" target="_blank"></a><a href="http://www.readinglife.com/News/Article-6110060052.html" target="_blank" title="当你谈《1Q84》时你谈什么?"><span style="">[图]当你谈《1Q84》时你谈什么?</span></a> 
                </div> 
                <div style="display:none; float:right; width:110px; text-align:right;"> 

                </div> 
              </div> 

            </td> 
            </tr><tr> 
            <td style="width:100%;"> 
              <div style="margin-left:0px;"> 
                <div class="float_left" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 233px;"> 
                  <a href="http://www.readinglife.com/News/SortNewsList.aspx?QSortId=5" target="_blank"></a><a href="http://www.readinglife.com/News/Article-6110060001.html" target="_blank" title="&lt;P&gt;北京晨报：“综合”村上 粉丝不慌&lt;/P&gt;"><span style=""><p>北京晨报：“综合”村上 粉丝不慌</p></span></a> 
                </div> 
                <div style="display:none; float:right; width:110px; text-align:right;"> 

                </div> 
              </div> 

            </td> 
            </tr><tr> 
            <td style="width:100%;"> 
              <div style="margin-left:0px;"> 
                <div class="float_left" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 233px;"> 
                  <a href="http://www.readinglife.com/News/SortNewsList.aspx?QSortId=5" target="_blank"></a><a href="http://www.readinglife.com/News/Article-6110050039.html" target="_blank" title="视频：梁文道、施小炜、止庵谈村上春树《1Q84》"><span style="">[图]视频：梁文道、施小炜、止庵谈村上春树《1Q84》</span></a> 
                </div> 
                <div style="display:none; float:right; width:110px; text-align:right;"> 

                </div> 
              </div> 

            </td> 
            </tr><tr> 
            <td style="width:100%;"> 
              <div style="margin-left:0px;"> 
                <div class="float_left" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 233px;"> 
                  <a href="http://www.readinglife.com/News/SortNewsList.aspx?QSortId=5" target="_blank"></a><a href="http://www.readinglife.com/News/Article-6110050037.html" target="_blank" title="新快报：村上新作《1Q84》中国首发 少年读者慎读"><span style="">新快报：村上新作《1Q84》中国首发 少年读者慎读</span></a> 
                </div> 
                <div style="display:none; float:right; width:110px; text-align:right;"> 

                </div> 
              </div> 

            </td> 
            </tr><tr> 
            <td style="width:100%;"> 
              <div style="margin-left:0px;"> 
                <div class="float_left" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 233px;"> 
                  <a href="http://www.readinglife.com/News/SortNewsList.aspx?QSortId=5" target="_blank"></a><a href="http://www.readinglife.com/News/Article-6110050036.html" target="_blank" title="&lt;P&gt;都市快报：梁文道止庵都曾很不喜欢村上春树&lt;/P&gt;"><span style=""><p>都市快报：梁文道止庵都曾很不喜欢村上春树</p></span></a> 
                </div> 
                <div style="display:none; float:right; width:110px; text-align:right;"> 

                </div> 
              </div> 

            </td> 
            </tr><tr> 
            <td style="width:100%;"> 
              <div style="margin-left:0px;"> 
                <div class="float_left" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 233px;"> 
                  <a href="http://www.readinglife.com/News/SortNewsList.aspx?QSortId=5" target="_blank"></a><a href="http://www.readinglife.com/News/Article-6110050035.html" target="_blank" title="解放日报：村上春树《1Q84》中国首发"><span style="">解放日报：村上春树《1Q84》中国首发</span></a> 
                </div> 
                <div style="display:none; float:right; width:110px; text-align:right;"> 

                </div> 
              </div> 

            </td> 
          </tr> 
      </tbody></table> 
    </div> 

  </div> 
  <div class="DivBlank"> 
  </div> 
</div> 
