<div class="index02_body">
  <div class="type_list">
    <ul>
      <% Category.all.each do |c|%>
        <li onmouseover="javascript:showtype(<%= c.id%>,<%= Category.all.length%>);"><%= link_to c.name,category_path(c),:id=>"type_0"+c.id.to_s,:class =>if c.id ==1 then "type_list_selected" end %></li>
      <% end%>
    </ul>
  </div>

  <% Category.all.each do |c|%>
    <ul class="goods_list" id="type_list_0<%= c.id%>" style=<%= unless c.id ==1  then "display:none;" end%>>
      <% c.get_products_for_nsbox(9).each do |product|%>
        <% if product != nil%>
        <li>
        <div><a href="<%= product_path(product)%>" target="_blank"><%= image_tag product.image.url%></a></div>
        <dl>
          <dt><%= link_to product.title,product_path(product)%></dt>
          <dd>
          <% if product.author != nil%>
            <strong><%= link_to product.author.name,author_path(product.author)%></strong>
          <% end%>  
          <%= product.description%></dd>
        </dl>
        </li>
        <% end%>
      <% end%>  
    </ul>
  <% end%>

</div>
