<div id="slidedeck_frame" class="skin-slidedeck">
  <dl class="slidedeck">
    <% @book_flows.each do |book_flow|%>
      <dt><%= truncate book_flow.product.title,:length=>15%></dt>
      <dd><%= link_to (image_tag book_flow.image.url),book_flow.product%></dd> 
    <% end%>
  </dl>
</div>

