<div style="height: 28px; overflow: hidden; background-color: #efefef;"> 
  <div class="float_left" style="width:24px; height:20px;"></div> 
  <div class="float_left" style="width: 141px; padding: 0; overflow: hidden; background-color: #fff; text-align: center;"> 
    <div style="height: 4px; overflow: hidden;"> 
    </div> 
    <a href="<%= root_path%>"><span style="font-size: 20px; color: #b70005; font-family: 黑体;">新经典</span><span style="font-size: 20px; color: #000; font-family: 黑体;">悦读网</span></a> 
    <h1 id="ctl00_UCHeader1_HSiteJName" style="display: none;">新经典悦读网</h1> 
    <h1 id="H1_1" style="display: none;"> 
      新经典悦读网-会员俱乐部-新经典文化；新经典悦读网为中国最大的民营出版发行企业新经典文化旗下网站。新经典在外国文学、华语文学、财经励志、儿童绘本四个领域的市场占有率和影响力均进入全国前列，拥有100多位国际重量级作家，800多部作品的中文简体版权。新经典文化，十月文艺、读书人，外国文学，华语文学，张爱玲，张小娴，安妮宝贝，爱心树，富爸爸，东野圭吾</h1> 
  </div> 
  <div style="float: right; width: 784px; text-align: left;"> 
    <div style="height: 4px; overflow: hidden; clear:both;"> 
    </div> 
    <div class="float_left" style="width: 140px; height:20px;"> 
    </div> 
    <div class="nav_dh" style="width:45px;"> 
      <a href="<%= root_path%>"><span id="ctl00_UCHeader1_Span0" class="<%= if params[:controller]=="page" then "nav_red" else "nav_black" end%>">首页</span></a> 
    </div> 

    <% Category.all.each do |category|%>
      <div class="nav_dh"> 
        <a href="<%= category_path(category.id)%>"><span id="ctl00_UCHeader1_Span2" class="<%= if (params[:controller]=="categories" && params[:id]==category.id.to_s)||(params[:controller]=="products" && @product.category == category) then "nav_red" else "nav_black" end%>"><%= category.name%></span></a> 
      </div>
    <% end%> 

  </div> 
</div> 
