<h2>管理页面</h2>
<div class='row-fluid'>
  <div class='span2'>
  </div>
  <div class='span8'>
    <table class="table">
      <tbody>
        <tr>
          <td>书目</td>
          <td><%= link_to "新增",new_product_path, :class=>'btn'%></td>
          <td><%= link_to "查看所有",products_path, :class => 'btn'%></td>
        </tr>

        <tr>
          <td>头图(743*235)</td>
          <td><%= link_to "新增",new_book_flow_path,:class=>'btn'%></td>
          <td><%= link_to "查看所有",book_flows_path, :class=>'btn'%></td>
        </tr>

        <tr>
          <td>分类页面</td>
          <td></td>
          <td><%= link_to "查看所有", categories_path, :class=>'btn'%></td>
        </tr>

        <tr>
          <td>特色服务</td>
          <td></td>
          <td><%= link_to "查看所有",brands_path, :class=>'btn'%></td>
        </tr>

        <tr>
          <td>作者风采</td>
          <td><%= link_to "新增",new_e_reading_path,:class=>'btn'%></td>
          <td><%= link_to "查看所有",e_readings_path, :class=>'btn'%></td>
        </tr>

        <tr>
          <td>活动现场</td>
          <td><%= link_to "新增", new_news_path,:class=>'btn'%></td>
          <td><%= link_to "查看所有",news_admin_path, :class=>'btn'%></td>
        </tr>
        <tr>
          <td>出版须知</td>
          <td><%= link_to "新增", new_event_path,:class=>'btn'%></td>
          <td><%= link_to "查看所有",events_admin_path, :class=>'btn'%></td>
        </tr>
        <tr>
          <td>最新公告</td>
          <td><%= link_to "新增", new_notice_path,:class=>'btn'%></td>
          <td><%= link_to "查看所有",notices_admin_path, :class=>'btn'%></td>
        </tr>
        <tr>
          <td>关注榜</td>
          <td></td>
          <td><%= link_to "编辑",best_sellers_path, :class=>'btn'%></td>
        </tr>
        <tr>
          <td>下载管理</td>
          <td><%= link_to "新增", new_doc_path,:class=>'btn'%></td>
          <td><%= link_to "查看所有",docs_admin_path, :class=>'btn'%></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
