<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "标题" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "正文"%><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label "上传图片"%><br />
    <%= f.file_field :image%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
