<h1>活动</h1>

<table class="table">
  <tr>
    <th>标题</th>
    <th>正文</th>
    <th>图片</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.title %></td>
    <td><%= news.content %></td>
    <td><%= image_tag news.image(:medium) if news.image_url %></td>
    <td><%= link_to '查看', news, :class => "btn"%></td>
    <td><%= link_to '编辑', edit_news_path(news), :class => "btn"%></td>
    <td><%= link_to '删除', news, :confirm => '确认删除?', :method => :delete, :class => "btn"%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加', new_news_path %>
