<h1>活动</h1>

<div class="row news_block">
  <div class="span8 offset2">
    <% @news.each do |news| %>
      <%= image_tag news.image(:medium), :class => "news_image" if news.image.exists?%>
      <div class='news_content'>
        <p class="title"><%=link_to news.title, news %></p>
        <p><%= truncate news.content, :length => 100 %></p>
      </div>
      <hr/>
    <% end %>
  </div>
</div>
