<%= form_for(@brand, :html => { :multipart => true }) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "品牌名称"%><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "上传图片"%><br />
    <%= f.file_field :image%>
  </div>

  <div class="field">
    <%= f.label "story"%><br />
    <%= f.text_area :story %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
