<div class="sales_left">
  <div class="content_float_left_top">
    <div style="float: left; text-align:left;color:#cb651b;font-size: 14px;font-weight:bold;padding-top: 11px;padding-left: 20px">
      <%= @title||'热销'%>
    </div>
    <div style="float: right;font-size: 13px;color:white;padding-right: 20px;padding-top: 10px">
    </div>
  </div>

  <div class="content_float_left_middle">
  </div>

  <div class="content_float_left_bottom">
    <p ><%= simple_format @story%></p>
  </div>
</div>
