<h1>特色服务</h1>

<table class='table'>

<% @brands.each do |brand| %>
  <tr>
    <td><%= brand.name %></td>
    <!-- <td><%= link_to '查看书目', brand, :class => 'btn' %></td> -->
    <td><%= link_to '编辑', edit_brand_path(brand), :class => 'btn' %></td>
    <!-- <td><%= link_to '删除', brand, :confirm => '确定删除?', :method => :delete, :class => 'btn' %></td> -->
  </tr>
<% end %>
</table>

<br />
