<div class="content" style="position: relative;top:-15px;">

  <div class="content_sales">
    <%= render :partial => 'brands/story' %>
    <%= render :partial => 'products/sales_right'%>
  </div>

  <%= render :partial => 'page/content_bottom' %>

  <div class="clear"></div>

</div>
