<%= form_for(@best_seller) do |f| %>
  <% if @best_seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@best_seller.errors.count, "error") %> prohibited this best_seller from being saved:</h2>

      <ul>
      <% @best_seller.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "书目编号" %><br />
    <%= f.text_field :book_id, :place_holder => "书籍编号" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
