<h1>关注榜</h1>

<table class='table'>
<% @best_sellers.each_with_index do |best_seller,index| %>
  <tr>
    <% badage_class = case index
      when 0
        "badge badge-warning"
      when 1
        "badge"
      when 2
        "badge badge-important"
      else
        "badge badge-inverse"
      end%>
      <td><span class="<%= badage_class%>"><%= index + 1%></span></td>
    <td><%= best_seller.product.title if best_seller.product!=nil%></td>
    <td><%= link_to '查看', product_path(best_seller.product.id) if best_seller.product!=nil%></td>
    <td><%= link_to '更改', edit_best_seller_path(best_seller) %></td>
  </tr>
<% end %>
</table>

<br />
