<div class="float_left" style="width: 705px; text-align: center; overflow:hidden;">
  <div id="ctl00_CenterContent_TrData">
    <div style="line-height: 230%;">
      <div style="height:10px; overflow:hidden;"></div>

      <div class="float_left" style="width: 200px; height: 243px; text-align: left; line-height: 200%;">

        <div style="height: 5px; overflow: hidden;">
        </div>

        <div class="GoodsPic" style="height: 200px; width: 200px; text-align:center; vertical-align:top;">
          <%= image_tag @product.image.url,:style=>"max-height:200px;max-width:145px"%>
        </div>

      </div>

      <div class="float_right" style="width: 490px; text-align: left; line-height: 200%;">
        <div class="title6B" style="text-align: left; margin-top:0px;">        

          <h1><%= @product.title%></h1></div>
        作　　者：<span id="ctl00_CenterContent_UCFixProperty1_AuthorName"><% if @product.author != nil %><%= link_to @product.author.name,author_path(@product.author) %>&nbsp;<% end%></span><span id="ctl00_CenterContent_UCFixProperty1_BookMaking"></span>
        <span id="ctl00_CenterContent_UCFixProperty1_Translator"></span>
        <span id="ctl00_CenterContent_UCFixProperty1_illustrator"></span>
        <br />
        定　　价：<span id="ctl00_CenterContent_UCFixProperty1_Price"><%= @product.price%>元</span>
        <br />
        
        分　　类：<span id="ctl00_CenterContent_UCFixProperty1_LChildSortName"><%= link_to_if !@product.category.nil?,@product.category.name,category_path(@product.category)%></span>
      </div>
    </div>
    <br/>
    <div class="float_left" style="display: block;margin-left:23px">  <%= @product.description%></div>
  </div>
</div>
