<div class="float_left" style="height: 280px; width: 205px; text-align: left; vertical-align: top;">
  <div id="ImageM1" style="display:none;">
    <a id="ctl00_CenterContent_HyperLink1" href="/Goods/Book-1100011110007.html"><img border="0" height="280" src="/UserFiles/GoodsPic/1100011110007/1100011110007_4.jpg" width="200" /></a></div>
  <div id="ImageM2" style="display: none;">
    <a id="ctl00_CenterContent_HyperLink2" href="/Goods/Book-1100011100004.html"><img border="0" height="280" src="/UserFiles/GoodsPic/1100011100004/1100011100004_4.jpg" width="200" /></a></div>
  <div id="ImageM3" style="display: none;">
    <a id="ctl00_CenterContent_HyperLink3" href="/Goods/Book-110009120427.html"><img border="0" height="280" src="/UserFiles/GoodsPic/110009120427/110009120427_4.gif" width="200" /></a></div>
  <div id="ImageM4" style="display: none;">
    <a id="ctl00_CenterContent_HyperLink4" href="/Goods/Book-1100010030031.html"><img border="0" height="280" src="/UserFiles/GoodsPic/1100010030031/1100010030031_4.gif" width="200" /></a></div>
</div>
<div class="float_left" style="height: 300px; width: 57px; text-align: left;">
  <div onmouseout="ImageS_MouseOut(1)" onmouseover="ImageS_MouseOver(1)"
    style="width: 50px; height: 72px; cursor: pointer;">
    <a id="ctl00_CenterContent_HyperLink5" href="/Goods/Book-1100011110007.html"><img border="0" height="64" id="ImageS1" src="/UserFiles/GoodsPic/1100011110007/1100011110007_1.jpg" width="45" style=" border: solid 0px #f4f4f4;" /></a>
  </div>
  <div onmouseout="ImageS_MouseOut(2)" onmouseover="ImageS_MouseOver(2)"
    style="width: 50px; height: 72px; cursor: pointer;">
    <a id="ctl00_CenterContent_HyperLink6" href="/Goods/Book-1100011100004.html"><img border="0" height="64" id="ImageS2" src="/UserFiles/GoodsPic/1100011100004/1100011100004_1.jpg" width="45" style=" border: solid 0px #f4f4f4;" /></a>
  </div>
  <div onmouseout="ImageS_MouseOut(3)" onmouseover="ImageS_MouseOver(3)"
    style="width: 50px; height: 72px; cursor: pointer;">
    <a id="ctl00_CenterContent_HyperLink7" href="/Goods/Book-110009120427.html"><img border="0" height="64" id="ImageS3" src="/UserFiles/GoodsPic/110009120427/110009120427_1.gif" width="45" style=" border: solid 0px #f4f4f4;" /></a>
  </div>
  <div onmouseout="ImageS_MouseOut(4)" onmouseover="ImageS_MouseOver(4)"
    style="width: 50px; height: 72px; cursor: pointer;">
    <a id="ctl00_CenterContent_HyperLink8" href="/Goods/Book-1100010030031.html"><img border="0" height="64" id="ImageS4" src="/UserFiles/GoodsPic/1100010030031/1100010030031_1.gif" width="45" style=" border: solid 0px #f4f4f4;" /></a>
  </div>
</div>
<div class="float_right" style="width: 450px;">

  <span id="ctl00_CenterContent_Repeater1_ctl00_LGoodsId" style="display: none;">1100011110007</span>
  <span id="ctl00_CenterContent_Repeater1_ctl00_LDetailUrl" style="display: none;">/Goods/Book-1100011110007.html</span>
  <div id='divReason1' style="display: none;">
    <a class="h1" href='/Goods/Book-1100011110007.html'>
      谋杀似水年华
    </a>
    <div class="DivBlank">
    </div>
    <div style="height: 118px; overflow: hidden;">
      <h4>
        推荐理由</h4>
      <span id="ctl00_CenterContent_Repeater1_ctl00_LTjReason"><a href="/Goods/Book-1100011110007.html" target="_blank"><SPAN style="WIDOWS: 2; TEXT-TRANSFORM: none; BACKGROUND-COLOR: rgb(255,255,255); TEXT-INDENT: 0px; LETTER-SPACING: normal; FONT: 12px/26px 宋体, Arial, Helvetica, sans-serif; WHITE-SPACE: normal; ORPHANS: 2; COLOR: rgb(64,64,64); WORD-SPACING: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px" class=Apple-style-span>
            <P style="BACKGROUND-IMAGE: none; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; COLOR: rgb(64,64,64); BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; PADDING-TOP: 0px; background-origin: initial; background-clip: initial">读这本小说只需一天，悲伤却要延续多年。<BR style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px">中国社会派悬疑小说开山大作！<BR style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px">蔡骏最新力作再树中国悬疑小说新高峰。</P>
            <P style="BACKGROUND-IMAGE: none; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; COLOR: rgb(64,64,64); BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; PADDING-TOP: 0px; background-origin: initial; background-clip: initial">年华纷纷跌落，真凶逍遥法外，徒留无限怅惘和一丝最后的希望，<BR style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px">一个十三岁女孩与她的少年，如何跨越十五年时间鸿沟，从记忆的坟墓中挖掘被埋葬的爱情，追寻谋杀似水年华的真正凶手？<BR style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px">11年作品总销量突破700万册！顶级市场号召力！<BR style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px">■中国悬疑小说第一人，中国最受欢迎的悬疑小说家。<BR style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px">■最新力作《谋杀似水年华》开启中国社会派悬疑小说先河。</P>
            <P style="BACKGROUND-IMAGE: none; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; COLOR: rgb(64,64,64); BORDER-RIGHT-STYLE: none; FONT-SIZE: 12px; PADDING-TOP: 0px; background-origin: initial; background-clip: initial">■作品总销量高达700万册，连续7年保持中国悬疑小说销售最高纪录。<BR style="PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px">■代表作《天机》2007年出版至今，总销量超过240万册。</P></SPAN></a></span></div>
    <div class="DivBlank">
    </div>
    <div style="height: 118px; overflow: hidden;">
      <h4>
        书评选摘</h4>
      <span id="ctl00_CenterContent_Repeater1_ctl00_LReview" style="text-indent: 1.6pc;"><a href="/News/Article-6111110003.html" target="_blank">蔡骏这部《谋杀似水年华》，令人意外，我一直以为蔡骏是个只会写通俗小说的著名作家，但《谋杀似水年华》却当仁不让地具有严肃文学的质地。小说中，蔡骏触及到了初中生、高中生、白领、警察、富豪、富二代、知青、打工子弟、城市司机等角色，贯通全篇都在探讨人与人之间的“鸿沟”以及由此衍生的隔膜、鄙夷甚至仇恨，当然也有不可抗拒的真爱——警察之女与民工之子至死不渝的爱是小说最突出的正面力量（不过小说真正的结局显然是1万个读者有1万个想法。）</a></span></div>
  </div>

  <span id="ctl00_CenterContent_Repeater1_ctl01_LGoodsId" style="display: none;">1100011100004</span>
  <span id="ctl00_CenterContent_Repeater1_ctl01_LDetailUrl" style="display: none;">/Goods/Book-1100011100004.html</span>
  <div id='divReason2' style="display: none;">
    <a class="h1" href='/Goods/Book-1100011100004.html'>
      停车暂借问
    </a>
    <div class="DivBlank">
    </div>
    <div style="height: 118px; overflow: hidden;">
      <h4>
        推荐理由</h4>
      <span id="ctl00_CenterContent_Repeater1_ctl01_LTjReason"><a href="/Goods/Book-1100011100004.html" target="_blank">钟晓阳十八岁成名作 三十年华语文学经典
          <P>有人说她是张爱玲的真正传人 有人说这是《红楼梦》的现代版本</P>
          <P>周迅、张信哲主演电影《烟雨红颜》原著小说</P>
          <P>王家卫、张艾嘉、黄磊、林青霞、马家辉、张大春、司马中原、朱西宁、朱天文、朱天心、王德威、詹宏志、陈雨航……两岸三地最重要的作家、导演、演员、评论家联袂推荐！</P></a></span></div>
    <div class="DivBlank">
    </div>
    <div style="height: 118px; overflow: hidden;">
      <h4>
        书评选摘</h4>
      <span id="ctl00_CenterContent_Repeater1_ctl01_LReview" style="text-indent: 1.6pc;"><a href="/News/Article-6111100005.html" target="_blank">《停车暂借问》首次出简体字版，竟是在作品问世三十年后的今天。
          大凡有大陆背景的港岛作家，一落笔总有“故园安在”的流离感。
          地理上既是异乡客，而血脉上却与故土纠缠万端，那种乡愁遥不可及却又永恒永在，全然不可磨灭，是以笔触里满满皆是眷恋跟追问，反而比大陆本土作家来得更揪心、更迫切。有趣的是，钟晓阳在港岛写东北，南辕北辙，大概也觉是隔靴搔痒，有不实之感，故通篇特别在意食物，描述间活色生香，仿佛如此便可将乡愁感官化跟具象化，倒也不失为一条妙计。
          赵宁静的传奇发生在东北，日据时期，沈阳那时还被叫做奉天。
          初恋对象是日本少年吉田千重。国仇家恨与私情密爱，彼此错综，隔着鸿沟共舞，是无出路的恋曲。两个人“消消停停，殷殷勤勤，却也明知是捱日子而已”，到后来抗战胜利，敌国败归，少年不得不离开东北。赵宁静的爱与诀别，亦不过是山中红萼，自开自落，隐微、卑小，却又顺理成章。
          典型的小叙事。钟晓阳以一枚精致女心，在历史如山的倾轧中觅得爱恋夹缝，一国兴亡自有整个天下去担当承受，但爱之甘美、思念之绞痛、诀别之悲哀，却是独属于少女一个人的——无人能够劫夺与分享，同时也无人能够抚慰与分担。
          　　故事的好看，就在于这种明目张胆的私心。</a></span></div>
  </div>

  <span id="ctl00_CenterContent_Repeater1_ctl02_LGoodsId" style="display: none;">110009120427</span>
  <span id="ctl00_CenterContent_Repeater1_ctl02_LDetailUrl" style="display: none;">/Goods/Book-110009120427.html</span>
  <div id='divReason3' style="display: none;">
    <a class="h1" href='/Goods/Book-110009120427.html'>
      心灵游戏
    </a>
    <div class="DivBlank">
    </div>
    <div style="height: 118px; overflow: hidden;">
      <h4>
        推荐理由</h4>
      <span id="ctl00_CenterContent_Repeater1_ctl02_LTjReason"><a href="/Goods/Book-110009120427.html" target="_blank">&nbsp;&nbsp;&nbsp; 这是一本有趣、好读，可以改变你一生的心理自助小书。著名作家毕淑敏，凭借医生、作家、心理咨询师等多重身份、将高深的心理学变为通俗的家常话，通过八个特别游戏，深入浅出，直指人生重大问题，梳理过去，指导现在，昭示未来。<BR><BR></a></span></div>
    <div class="DivBlank">
    </div>
    <div style="height: 118px; overflow: hidden;">
      <h4>
        书评选摘</h4>
      <span id="ctl00_CenterContent_Repeater1_ctl02_LReview" style="text-indent: 1.6pc;"><a href="/News/Article-6110040045.html" target="_blank">心灵如果披挂着旧日尘埃，好像浸满了深秋夜雨的蓑衣，湿冷沉暗。如何把水珠抖落，在朗空清风中晾干哀伤的往事？如何修复心理的划痕，让它重新熠熠闪亮，一如海豚的皮肤在前进中使阻力减到最小？如何在阳光下让心灵变得剔透晶莹，仿佛古时贤臣比干的七巧玲珑心，忠诚正直，诚恳聪慧，却不会招致悲剧的命运？</a></span></div>
  </div>

  <span id="ctl00_CenterContent_Repeater1_ctl03_LGoodsId" style="display: none;">1100010030031</span>
  <span id="ctl00_CenterContent_Repeater1_ctl03_LDetailUrl" style="display: none;">/Goods/Book-1100010030031.html</span>
  <div id='divReason4' style="display: none;">
    <a class="h1" href='/Goods/Book-1100010030031.html'>
      龙凤艺术
    </a>
    <div class="DivBlank">
    </div>
    <div style="height: 118px; overflow: hidden;">
      <h4>
        推荐理由</h4>
      <span id="ctl00_CenterContent_Repeater1_ctl03_LTjReason"><a href="/Goods/Book-1100010030031.html" target="_blank">&nbsp;&nbsp;&nbsp; 本书是沈从文有关文物与艺术研究论文集。共收录作者48篇研究论著，这些论著考证严密，论述生动，见解独到，是沈从文后半生从文学创作转向历史文物研究的成果集成。研究既严谨务实，文笔又清新可读，处处显示大家风范。</a></span></div>
    <div class="DivBlank">
    </div>
    <div style="height: 118px; overflow: hidden;">
      <h4>
        书评选摘</h4>
      <span id="ctl00_CenterContent_Repeater1_ctl03_LReview" style="text-indent: 1.6pc;"><a href="/News/Article-6110030267.html" target="_blank">本卷收入沈从文有关文物研究的论文48题。以“龙凤艺术”作书名单独结集出版，此前有过两次。一次是作家出版社1960年版，包括《题记》在内，收文15篇。另一次是1986年，由王序、王亚蓉选编，商务印书馆香港分馆印行，收文38篇。本卷是在商务印书馆版的基础上加以增删而成。在经历了1949年的精神危机后，沈从文的人事关系从北京大学转到了北平历史博物馆。自此，沈从文基本上终止了文学创作，改行从事中国物质文化史的研究，直至1988年因病去世。沈从文在这片前半生几乎未曾涉足的领域，经过长期努力，又取得了令世人瞩目的成就。</a></span></div>
  </div>

</div>
<script language="JavaScript" type="text/javascript"> 
  var speed3 = 3000 
  var n = 1;
  function Marquee3(){ 
    MyFlash(n);
    n = n + 1;
    if (n > 4){
      n = 1;
    }
  }         
var MyMar3 = setInterval(Marquee3,speed3) 
  function MyFlash(num){            
    for(var i=1;i<=4;i++){
      var  ImageM = document.getElementById("ImageM" + i);
      var  ImageS = document.getElementById("ImageS" + i);
      var  divReason = document.getElementById("divReason" + i);
      if (i == num){
        ImageM.style.display = "";
        divReason.style.display = "";
        ImageS.style.borderWidth = "1px";
      }else{
        ImageM.style.display = "none";
        divReason.style.display = "none";
        ImageS.style.borderWidth = "0px";
      }
    }
  }
function ImageS_MouseOver(num){ 
  clearInterval(MyMar3);
  MyFlash(num);            
}
function ImageS_MouseOut(num){ 
  n = num;
  n = n + 1;
  if (n > 4){
    n = 1;
  }
  MyMar3=setInterval(Marquee3,speed3);
}
</script>
