<% if @products != nil%>
  <% @products.each do |product|%>
    <p id="<%= product.id%>" class="ul"></p>
    <table width="100%">
      <tbody>
        <tr class="doulist_item">
          <td width="100" valign="top">
            <a href="<%= product_path(product)%>"><%= image_tag product.image_url,:style => "max-width:145px;max-height:200px;margin:10px"%></a>
          </td>
          <td valign="top">
            <div class="pl2" style = "margin-top:10px;margin-left:6px">
              <span class="rr pl"><%= product.created_at.strftime("%Y-%m-%d ")%>添加</span>
              <%= link_to product.title,product_path(product)%>
            </div>
            <p class="pl" style = "margin:5px">
              作者 : 
                <%=if product.author != nil then link_to product.author.name,author_path(product.author) end%>
              <br/>
              </p>
             <p class="pl" style = "margin:5px"> 出版社 : 
             <%= if !product.publisher.nil? then product.publisher.name end%>
            </p>
            <p>
              <span class="pl" style = "margin:5px">
                评语
              </span> : 
                <%= product.description%>
            </p> 
            <div class="clearfix"></div>
          </td>
        </tr>
      </tbody>
    </table>
  <% end%>
<% end%>
