<%= javascript_include_tag "author_list" %>

<div class='row-fluid'>
  <div class='span3'>
  </div>
  <div class='span5'>
    <%= form_for(@product,:html => {:multipart => true, :class => 'form-horizontal'}) do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class='fieldset'>
        <div class="control-group">
          <%= f.label "书名:", :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :title %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "简介:", :class => 'control-label'%>
          <div class='controls'>
            <%= f.text_area :description %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "书评:", :class => 'control-label'%>
          <div class='controls'>
            <%= f.text_area :review%>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "价格:", :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :price %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "当当链接:", :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :dangdang_link %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "开本:", :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :format %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "出版日期:",:class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :pubdate %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "页数:", :class => 'control-label' %>
          <div class='controls'>
            <%= f.text_field :page %>
          </div>
        </div> 

        <div class="control-group">
          <%= f.label "作者:",:class => 'control-label'%>
          <div class='controls'>
            <%= f.select(:author_id, Author.all.map{|a| [a.name,a.id]}.insert(0,["无",-1]) )%>
            <p><%= link_to "创建作者",new_author_path, :target => '_blank'%></p>
          </div>
        </div>

        <!--
        <div class="control-group">
          <%= f.label "类别:", :class => 'control-label'%>
          <div class='controls'>
            <%= f.select(:category_id,Category.all.map{|c| [c.name,c.id]})%>
          </div>
        </div>

        <div class="control-group">
          <%= f.label "品牌:", :class => 'control-label'%>
          <div class='controls'>
            <%= f.select(:brand_id,Brand.all.map{|b| [b.name,b.id]}.insert(0,["无",-1]) )%>
          </div>
        </div>
        -->

        <div class="control-group">
          <%= label_tag "上传图片:",nil, :class => 'control-label' %>
          <div class='controls'>
            <%= f.file_field 'image'%>
          </div>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>
