<div class="sales_left">
  <div class="content_float_left_top">
    <div style="float: left; text-align:left;color:#cb651b;font-size: 14px;font-weight:bold;padding-top: 11px;padding-left: 20px">
      <%= @title||'热销'%>
    </div>
    <div style="float: right;font-size: 13px;color:white;padding-right: 20px;padding-top: 10px">
    </div>
  </div>

  <div class="content_float_left_middle">
  </div>

  <div class="content_float_left_bottom">
    <ul>
      <% @products.each do |product|%>
        <li>
        <div class="book_img">
          <%= link_to (image_tag product.image.url(:medium),:style => "max-width:118px;max-height:190px;height:auto !important;"),product%>      </div>
        <div class="disc">
          <div class="title"><%= link_to product.title,product,:class=>'orange'%></div>
          <div class="brf">
            <%= simple_format truncate(product.description,:length=>200)%>
          </div>
          <div class="writer">
            <%if product.author != nil%>
              作者：
              <%=link_to product.author.name,author_path(product.author),:class=>'gray' %>
            <% end%>
          </div>
          <div class="price">
            ￥<%= product.price%>
          </div>

        </div>
        <div class="clear">

        </div>
        <hr>

        </li>
      <% end%>
    </ul>
  </div>

</div>
