<div style="width: 725px;">
  <div class="DivBlank" style="clear:both;"></div>
  <div id="ctl00_CenterContent_UCListBook1_DivLine" style="height: 1px; background-color: #dedede; overflow: hidden; margin-top: 6px; margin-bottom: 6px;">
  </div>
  <div align="left" style="margin-top: 20px;">
    <div id="ctl00_CenterContent_UCListBook1_Message">
    </div>
    <table id="ctl00_CenterContent_UCListBook1_DGridPicText" cellspacing="0" cellpadding="0" border="0" style="border-width:0px;border-collapse:collapse;">
      <tr>
        <td style="width:725px;">
          <div class="DivBlank">
          </div>

          <p id="sb2188233" class="ul"></p>
          <table width="100%"><tbody><tr class="doulist_item"><td width="100" valign="top">

                  <a href="http://book.douban.com/subject/2188233/"><img src="http://img3.douban.com/spic/s2651976.jpg"/></a>

                    </td><td valign="top"><div class="pl2">

                    <span class="rr pl">2012-01-03 19:10:45添加</span>
                    1. 
                    <a href="http://book.douban.com/subject/2188233/">中国当代文学史</a>

                  </div>
                  <p class="pl">作者 : 洪子诚<br/>出版社 : 北京大学出版社</p><p><span class="pl">评语</span> : 本課的參考教材。</p><p><span class="gact"><a href="http://book.douban.com/wish/19665826/update?add=2188233" target="_blank" class="j a_collect_btn" name="sbtn-2188233-wish" rel="nofollow">想读</a></span>&nbsp;&nbsp;
                  <span class="gact"><a href="http://book.douban.com/do/19665826/update?add=2188233" target="_blank" class="j a_collect_btn" name="sbtn-2188233-do" rel="nofollow">在读</a></span>&nbsp;&nbsp;
                  <span class="gact"><a href="http://book.douban.com/collection/19665826/update?add=2188233" target="_blank" class="j a_collect_btn" name="sbtn-2188233-collect" rel="nofollow">读过</a></span>&nbsp;&nbsp;
                  </p> <span class="rr"> <a name="2188233" class="j ll colbutt a_add2cart add2cart" href="javascript:;"><span><em>加入购书单</em></span></a><span class="hidden">已在<a href="http://book.douban.com/cart">购书单</a></span></span><div class="clearfix"></div>
          </td></tr></tbody></table>


          <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl00_LGoodsId" style="display: none;">1100011120037</span>
          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="width: 125px; text-align: center; vertical-align: top;">
                <div class="GoodsPic" style="height: 125px; width: 125px; text-align: center; vertical-align: top;">
                  <a href='/Goods/Book-1100011120037.html'
                    target="_blank">
                    <img border="0" src='/UserFiles/GoodsPic/1100011120037/1100011120037_1.jpg' style="border-color: #999999"
                    ></a>
                </div>
              </td>
              <td style="width: 20px;">
              </td>
              <td style="width: 580px; vertical-align: top;">
                <a href='/Goods/Book-1100011120037.html'
                  style="font-size: 14px;" target="_blank">
                  西藏一年
                </a>
                <br />
                作者：[<a
                  href='/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorCountry&QKeyWords=%d6%d0'
                  target="_blank">中</a>]


                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorName&QKeyWords=%ca%e9%d4%c6" target="_blank">书云</a>
                著
                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QTranslator&QKeyWords=" target="_blank"></a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=Qillustrator&QKeyWords=" target="_blank"></a>

                <br />
                <div style="height:98px; overflow:hidden;">
                  <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl00_LTjReason">★亲身穿越深不可测的千年雪域
                    <br>★实景捕捉神秘圣地的纯净灵魂
                    <br>★活佛与平常人有多远？
                    <br>★转经筒为何会响遍藏地每一个角落？
                    <br>★天葬师究竟是怎样一种神秘的职业？
                    <br>★以罕见的深度、惊心动魄的力量，公正记录当今世界最有争议、最偏远地方人们的真实生活。
                    <br>                                                                 ——英国《卫报》</span>
                </div>
                <a href='/Goods/Book-1100011120037.html'
                  target="_blank">查看详情 </a>
                &nbsp;&nbsp;
                <a href='http://product.dangdang.com/product.aspx?product_id=22564185'target="_blank">购买本书</a>
                <div class="DivBlank" style="clear: both;">
                </div>
              </td>
            </tr>
            <tr id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl00_TrBg_Line">
              <td class="bg_line" colspan="3"></td>
            </tr>

          </table>
          <div class="DivBlank" style="clear:both;"></div>
        </td>
        </tr><tr>
        <td style="width:725px;">
          <div class="DivBlank">
          </div>
          <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl01_LGoodsId" style="display: none;">1100011110034</span>
          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="width: 125px; text-align: center; vertical-align: top;">
                <div class="GoodsPic" style="height: 125px; width: 125px; text-align: center; vertical-align: top;">
                  <a href='/Goods/Book-1100011110034.html'
                    target="_blank">
                    <img border="0" src='/UserFiles/GoodsPic/1100011110034/1100011110034_1.jpg' style="border-color: #999999"
                    ></a>
                </div>
              </td>
              <td style="width: 20px;">
              </td>
              <td style="width: 580px; vertical-align: top;">
                <a href='/Goods/Book-1100011110034.html'
                  style="font-size: 14px;" target="_blank">
                  天机·第三季：空城之夜
                </a>
                <br />
                作者：[<a
                  href='/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorCountry&QKeyWords=%d6%d0'
                  target="_blank">中</a>]


                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorName&QKeyWords=%b2%cc%bf%a5" target="_blank">蔡骏</a>
                著
                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QTranslator&QKeyWords=" target="_blank"></a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=Qillustrator&QKeyWords=" target="_blank"></a>

                <br />
                <div style="height:98px; overflow:hidden;">
                  <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl01_LTjReason">★中国悬疑小说第一人 蔡骏里程碑力作全新修订版
                    <br>★作品总销量高达700万册 连续7年保持中国悬疑小说最高畅销纪录
                    <br>★《天机》系列销量突破240万册
                    <br>★80万字超长篇 讲述七天七夜夺命惊魂
                    <br>★在过去、现在、未来之间，在人间与天机世界之间，在未知命运与既定宿命之间，被命运选定的人何去何从？
                    <br>不到最后一刻 天机不可泄露……
                    <br>第五天，天机世界，让每个人都看到自己的灵魂</span>
                </div>
                <a href='/Goods/Book-1100011110034.html'
                  target="_blank">查看详情 </a>
                &nbsp;&nbsp;
                <a href='http://product.dangdang.com/product.aspx?product_id=22524574'target="_blank">购买本书</a>
                <div class="DivBlank" style="clear: both;">
                </div>
              </td>
            </tr>
            <tr id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl01_TrBg_Line">
              <td class="bg_line" colspan="3"></td>
            </tr>

          </table>
          <div class="DivBlank" style="clear:both;"></div>
        </td>
        </tr><tr>
        <td style="width:725px;">
          <div class="DivBlank">
          </div>
          <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl02_LGoodsId" style="display: none;">1100011110035</span>
          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="width: 125px; text-align: center; vertical-align: top;">
                <div class="GoodsPic" style="height: 125px; width: 125px; text-align: center; vertical-align: top;">
                  <a href='/Goods/Book-1100011110035.html'
                    target="_blank">
                    <img border="0" src='/UserFiles/GoodsPic/1100011110035/1100011110035_1.jpg' style="border-color: #999999"
                    ></a>
                </div>
              </td>
              <td style="width: 20px;">
              </td>
              <td style="width: 580px; vertical-align: top;">
                <a href='/Goods/Book-1100011110035.html'
                  style="font-size: 14px;" target="_blank">
                  天机·第一季：沉睡之城
                </a>
                <br />
                作者：[<a
                  href='/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorCountry&QKeyWords=%d6%d0%b9%fa'
                  target="_blank">中国</a>]


                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorName&QKeyWords=%b2%cc%bf%a5" target="_blank">蔡骏</a>
                编
                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QTranslator&QKeyWords=" target="_blank"></a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=Qillustrator&QKeyWords=" target="_blank"></a>

                <br />
                <div style="height:98px; overflow:hidden;">
                  <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl02_LTjReason">★中国悬疑小说第一人 蔡骏里程碑力作全新修订版 <BR>★作品总销量高达700万册 连续7年保持中国悬疑小说最高畅销纪录 <BR>★《天机》系列销量突破240万册 <BR>★80万字超长篇 讲述七天七夜夺命惊魂 <BR>★在过去、现在、未来之间，在人间与天机世界之间，在未知命运与既定宿命之间，被命运选定的人何去何从？ <BR>不到最后一刻 天机不可泄露…… <BR>第一天，罪恶之匣已被打开，19人旅行团何去何从？</span>
                </div>
                <a href='/Goods/Book-1100011110035.html'
                  target="_blank">查看详情 </a>
                &nbsp;&nbsp;
                <a href='http://product.dangdang.com/product.aspx?product_id=22524572'target="_blank">购买本书</a>
                <div class="DivBlank" style="clear: both;">
                </div>
              </td>
            </tr>
            <tr id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl02_TrBg_Line">
              <td class="bg_line" colspan="3"></td>
            </tr>

          </table>
          <div class="DivBlank" style="clear:both;"></div>
        </td>
        </tr><tr>
        <td style="width:725px;">
          <div class="DivBlank">
          </div>
          <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl03_LGoodsId" style="display: none;">1100011110036</span>
          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="width: 125px; text-align: center; vertical-align: top;">
                <div class="GoodsPic" style="height: 125px; width: 125px; text-align: center; vertical-align: top;">
                  <a href='/Goods/Book-1100011110036.html'
                    target="_blank">
                    <img border="0" src='/UserFiles/GoodsPic/1100011110036/1100011110036_1.jpg' style="border-color: #999999"
                    ></a>
                </div>
              </td>
              <td style="width: 20px;">
              </td>
              <td style="width: 580px; vertical-align: top;">
                <a href='/Goods/Book-1100011110036.html'
                  style="font-size: 14px;" target="_blank">
                  天机·第四季：末日审判
                </a>
                <br />
                作者：[<a
                  href='/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorCountry&QKeyWords=%d6%d0%b9%fa'
                  target="_blank">中国</a>]


                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorName&QKeyWords=%b2%cc%bf%a5" target="_blank">蔡骏</a>
                著
                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QTranslator&QKeyWords=" target="_blank"></a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=Qillustrator&QKeyWords=" target="_blank"></a>

                <br />
                <div style="height:98px; overflow:hidden;">
                  <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl03_LTjReason">★中国悬疑小说第一人 蔡骏里程碑力作全新修订版 <BR>★作品总销量高达700万册 连续7年保持中国悬疑小说最高畅销纪录 <BR>★《天机》系列销量突破240万册 <BR>★80万字超长篇 讲述七天七夜夺命惊魂 <BR>★在过去、现在、未来之间，在人间与天机世界之间，在未知命运与既定宿命之间，被命运选定的人何去何从？ <BR>不到最后一刻 天机不可泄露…… <BR>第七天，审判来临，“神魔”显形……</span>
                </div>
                <a href='/Goods/Book-1100011110036.html'
                  target="_blank">查看详情 </a>
                &nbsp;&nbsp;
                <a href='http://product.dangdang.com/product.aspx?product_id=22524575'target="_blank">购买本书</a>
                <div class="DivBlank" style="clear: both;">
                </div>
              </td>
            </tr>
            <tr id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl03_TrBg_Line">
              <td class="bg_line" colspan="3"></td>
            </tr>

          </table>
          <div class="DivBlank" style="clear:both;"></div>
        </td>
        </tr><tr>
        <td style="width:725px;">
          <div class="DivBlank">
          </div>
          <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl04_LGoodsId" style="display: none;">1100011110037</span>
          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="width: 125px; text-align: center; vertical-align: top;">
                <div class="GoodsPic" style="height: 125px; width: 125px; text-align: center; vertical-align: top;">
                  <a href='/Goods/Book-1100011110037.html'
                    target="_blank">
                    <img border="0" src='/UserFiles/GoodsPic/1100011110037/1100011110037_1.jpg' style="border-color: #999999"
                    ></a>
                </div>
              </td>
              <td style="width: 20px;">
              </td>
              <td style="width: 580px; vertical-align: top;">
                <a href='/Goods/Book-1100011110037.html'
                  style="font-size: 14px;" target="_blank">
                  天机·第二季：罗刹之国
                </a>
                <br />
                作者：[<a
                  href='/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorCountry&QKeyWords=%d6%d0%b9%fa'
                  target="_blank">中国</a>]


                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorName&QKeyWords=%b2%cc%bf%a5" target="_blank">蔡骏</a>
                著
                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QTranslator&QKeyWords=" target="_blank"></a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=Qillustrator&QKeyWords=" target="_blank"></a>

                <br />
                <div style="height:98px; overflow:hidden;">
                  <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl04_LTjReason">★中国悬疑小说第一人 蔡骏里程碑力作全新修订版 <BR>★作品总销量高达700万册 连续7年保持中国悬疑小说最高畅销纪录 <BR>★《天机》系列销量突破240万册 <BR>★80万字超长篇 讲述七天七夜夺命惊魂 <BR>★在过去、现在、未来之间，在人间与天机世界之间，在未知命运与既定宿命之间，被命运选定的人何去何从？ <BR>不到最后一刻 天机不可泄露…… <BR>第三天，被命运选定的人，是否还有机会选择自己的命运？</span>
                </div>
                <a href='/Goods/Book-1100011110037.html'
                  target="_blank">查看详情 </a>
                &nbsp;&nbsp;
                <a href='http://product.dangdang.com/product.aspx?product_id=22524573'target="_blank">购买本书</a>
                <div class="DivBlank" style="clear: both;">
                </div>
              </td>
            </tr>
            <tr id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl04_TrBg_Line">
              <td class="bg_line" colspan="3"></td>
            </tr>

          </table>
          <div class="DivBlank" style="clear:both;"></div>
        </td>
        </tr><tr>
        <td style="width:725px;">
          <div class="DivBlank">
          </div>
          <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl05_LGoodsId" style="display: none;">1100011110001</span>
          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="width: 125px; text-align: center; vertical-align: top;">
                <div class="GoodsPic" style="height: 125px; width: 125px; text-align: center; vertical-align: top;">
                  <a href='/Goods/Book-1100011110001.html'
                    target="_blank">
                    <img border="0" src='/UserFiles/GoodsPic/1100011110001/1100011110001_1.jpg' style="border-color: #999999"
                    ></a>
                </div>
              </td>
              <td style="width: 20px;">
              </td>
              <td style="width: 580px; vertical-align: top;">
                <a href='/Goods/Book-1100011110001.html'
                  style="font-size: 14px;" target="_blank">
                  青春期
                </a>
                <br />
                作者：[<a
                  href='/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorCountry&QKeyWords=%d6%d0%b9%fa'
                  target="_blank">中国</a>]


                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorName&QKeyWords=%be%a3%b7%bd" target="_blank">荆方</a>
                著
                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QTranslator&QKeyWords=" target="_blank"></a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=Qillustrator&QKeyWords=" target="_blank"></a>

                <br />
                <div style="height:98px; overflow:hidden;">
                  <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl05_LTjReason">生命会老，记忆会远，青春期永远鲜艳！ <BR>一百幅精致美好的怀旧画面，一百段永不褪色的青春回忆！ <BR>《青春期》带我们去围观豪情万丈的八十年代！</span>
                </div>
                <a href='/Goods/Book-1100011110001.html'
                  target="_blank">查看详情 </a>
                &nbsp;&nbsp;
                <a href='http://product.dangdang.com/product.aspx?product_id=22515171'target="_blank">购买本书</a>
                <div class="DivBlank" style="clear: both;">
                </div>
              </td>
            </tr>
            <tr id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl05_TrBg_Line">
              <td class="bg_line" colspan="3"></td>
            </tr>

          </table>
          <div class="DivBlank" style="clear:both;"></div>
        </td>
        </tr><tr>
        <td style="width:725px;">
          <div class="DivBlank">
          </div>
          <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl06_LGoodsId" style="display: none;">1100011110003</span>
          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="width: 125px; text-align: center; vertical-align: top;">
                <div class="GoodsPic" style="height: 125px; width: 125px; text-align: center; vertical-align: top;">
                  <a href='/Goods/Book-1100011110003.html'
                    target="_blank">
                    <img border="0" src='/UserFiles/GoodsPic/1100011110003/1100011110003_1.jpg' style="border-color: #999999"
                    ></a>
                </div>
              </td>
              <td style="width: 20px;">
              </td>
              <td style="width: 580px; vertical-align: top;">
                <a href='/Goods/Book-1100011110003.html'
                  style="font-size: 14px;" target="_blank">
                  一个人的草木诗经
                </a>
                <br />
                作者：[<a
                  href='/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorCountry&QKeyWords=%d6%d0%b9%fa'
                  target="_blank">中国</a>]


                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorName&QKeyWords=%d7%d3%e8%f3%c3%b7" target="_blank">子梵梅</a>
                著
                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QTranslator&QKeyWords=" target="_blank"></a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=Qillustrator&QKeyWords=" target="_blank"></a>

                <br />
                <div style="height:98px; overflow:hidden;">
                  <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl06_LTjReason">★带一本《草木诗经》，去山间田野、绿林花地！
                    <br>安意如 安逸推荐
                    <br>★为一百种草木，写一首诗歌，谱一篇传记，拍二三倩影。
                    <br>一花叶，一根茎，莫不魂魄交错。
                    <br>有决绝，亦有美意。
                    <br>你朝堂之上佩戴忧思苦楚，我让它宜室宜家。</span>
                </div>
                <a href='/Goods/Book-1100011110003.html'
                  target="_blank">查看详情 </a>
                &nbsp;&nbsp;
                <a href='http://product.dangdang.com/product.aspx?product_id=22515165'target="_blank">购买本书</a>
                <div class="DivBlank" style="clear: both;">
                </div>
              </td>
            </tr>
            <tr id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl06_TrBg_Line">
              <td class="bg_line" colspan="3"></td>
            </tr>

          </table>
          <div class="DivBlank" style="clear:both;"></div>
        </td>
        </tr><tr>
        <td style="width:725px;">
          <div class="DivBlank">
          </div>
          <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl07_LGoodsId" style="display: none;">1100011100004</span>
          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="width: 125px; text-align: center; vertical-align: top;">
                <div class="GoodsPic" style="height: 125px; width: 125px; text-align: center; vertical-align: top;">
                  <a href='/Goods/Book-1100011100004.html'
                    target="_blank">
                    <img border="0" src='/UserFiles/GoodsPic/1100011100004/1100011100004_1.jpg' style="border-color: #999999"
                    ></a>
                </div>
              </td>
              <td style="width: 20px;">
              </td>
              <td style="width: 580px; vertical-align: top;">
                <a href='/Goods/Book-1100011100004.html'
                  style="font-size: 14px;" target="_blank">
                  停车暂借问
                </a>
                <br />
                作者：[<a
                  href='/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorCountry&QKeyWords=%d6%d0%b9%fa'
                  target="_blank">中国</a>]


                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorName&QKeyWords=%d6%d3%cf%fe%d1%f4" target="_blank">钟晓阳</a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QTranslator&QKeyWords=" target="_blank"></a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=Qillustrator&QKeyWords=" target="_blank"></a>

                <br />
                <div style="height:98px; overflow:hidden;">
                  <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl07_LTjReason">钟晓阳十八岁成名作 三十年华语文学经典
                    <P>有人说她是张爱玲的真正传人 有人说这是《红楼梦》的现代版本</P>
                    <P>周迅、张信哲主演电影《烟雨红颜》原著小说</P>
                    <P>王家卫、张艾嘉、黄磊、林青霞、马家辉、张大春、司马中原、朱西宁、朱天文、朱天心、王德威、詹宏志、陈雨航……两岸三地最重要的作家、导演、演员、评论家联袂推荐！</P></span>
                </div>
                <a href='/Goods/Book-1100011100004.html'
                  target="_blank">查看详情 </a>
                &nbsp;&nbsp;
                <a href='http://product.dangdang.com/product.aspx?product_id=22497641'target="_blank">购买本书</a>
                <div class="DivBlank" style="clear: both;">
                </div>
              </td>
            </tr>
            <tr id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl07_TrBg_Line">
              <td class="bg_line" colspan="3"></td>
            </tr>

          </table>
          <div class="DivBlank" style="clear:both;"></div>
        </td>
        </tr><tr>
        <td style="width:725px;">
          <div class="DivBlank">
          </div>
          <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl08_LGoodsId" style="display: none;">1100011050006</span>
          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="width: 125px; text-align: center; vertical-align: top;">
                <div class="GoodsPic" style="height: 125px; width: 125px; text-align: center; vertical-align: top;">
                  <a href='/Goods/Book-1100011050006.html'
                    target="_blank">
                    <img border="0" src='/UserFiles/GoodsPic/1100011050006/1100011050006_1.jpg' style="border-color: #999999"
                    ></a>
                </div>
              </td>
              <td style="width: 20px;">
              </td>
              <td style="width: 580px; vertical-align: top;">
                <a href='/Goods/Book-1100011050006.html'
                  style="font-size: 14px;" target="_blank">
                  西藏，面冰十年
                </a>
                <br />
                作者：[<a
                  href='/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorCountry&QKeyWords=%d6%d0%b9%fa'
                  target="_blank">中国</a>]


                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorName&QKeyWords=%b1%cf%ca%e7%c3%f4" target="_blank">毕淑敏</a>
                著
                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QTranslator&QKeyWords=" target="_blank"></a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=Qillustrator&QKeyWords=" target="_blank"></a>

                <br />
                <div style="height:98px; overflow:hidden;">
                  <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl08_LTjReason">《西藏,面冰十年》为毕淑敏的散文作品选集之一。王蒙说：“毕淑敏有一种把对于人的关怀和热情悲悯，化为冷静的处分的集道德、文学、科学为一体的思维写作方式与行为方式。”毕淑敏是作家，又是医生，近年来一直攻读心理学博士，又由于她有在“世界屋脊”特殊的生活经历，使得她的散文有着极强的现代意识和专业的心理分析，特别是这部散文新作中的部分心理散文，贯注着一个心理医生充满洞察力和稳定感的目光。<BR></span>
                </div>
                <a href='/Goods/Book-1100011050006.html'
                  target="_blank">查看详情 </a>
                &nbsp;&nbsp;
                <a href='http://product.dangdang.com/product.aspx?product_id=21005241'target="_blank">购买本书</a>
                <div class="DivBlank" style="clear: both;">
                </div>
              </td>
            </tr>
            <tr id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl08_TrBg_Line">
              <td class="bg_line" colspan="3"></td>
            </tr>

          </table>
          <div class="DivBlank" style="clear:both;"></div>
        </td>
        </tr><tr>
        <td style="width:725px;">
          <div class="DivBlank">
          </div>
          <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl09_LGoodsId" style="display: none;">1100011100006</span>
          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="width: 125px; text-align: center; vertical-align: top;">
                <div class="GoodsPic" style="height: 125px; width: 125px; text-align: center; vertical-align: top;">
                  <a href='/Goods/Book-1100011100006.html'
                    target="_blank">
                    <img border="0" src='/UserFiles/GoodsPic/1100011100006/1100011100006_1.jpg' style="border-color: #999999"
                    ></a>
                </div>
              </td>
              <td style="width: 20px;">
              </td>
              <td style="width: 580px; vertical-align: top;">
                <a href='/Goods/Book-1100011100006.html'
                  style="font-size: 14px;" target="_blank">
                  告别薇安（安妮宝贝十年典藏文集）
                </a>
                <br />
                作者：<a
                  href='/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorCountry&QKeyWords='
                  target="_blank"></a>


                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QAuthorName&QKeyWords=%b0%b2%c4%dd%b1%a6%b1%b4" target="_blank">安妮宝贝</a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=QTranslator&QKeyWords=" target="_blank"></a>

                <a href="/Book/ListBook.aspx?QSortId=60002&QKeyCKind=Qillustrator&QKeyWords=" target="_blank"></a>

                <br />
                <div style="height:98px; overflow:hidden;">
                  <span id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl09_LTjReason">写作是一条个人道路<BR>无需奢求理解或需要更多解释<BR>但它最终方向是汇入世间万物的整体秩序<BR>汇入大心的领域<BR>如同水滴汇入大海<BR>愿这些文字在书写和沉没于水中时<BR>于你我交会的因缘中<BR>种种欢喜或障碍的种子<BR>光明或黑暗的能量<BR>成全各自的修行<BR>并最终趋于唯一存在的光源<BR></span>
                </div>
                <a href='/Goods/Book-1100011100006.html'
                  target="_blank">查看详情 </a>
                &nbsp;&nbsp;
                <a href='http://product.dangdang.com/product.aspx?product_id=22465835'target="_blank">购买本书</a>
                <div class="DivBlank" style="clear: both;">
                </div>
              </td>
            </tr>
            <tr id="ctl00_CenterContent_UCListBook1_DGridPicText_ctl09_TrBg_Line">
              <td class="bg_line" colspan="3"></td>
            </tr>

          </table>
          <div class="DivBlank" style="clear:both;"></div>
        </td>
      </tr>
    </table>

  </div>
  <div style="height:5px; overflow:hidden;"></div>
  <div id="ctl00_CenterContent_UCListBook1_Validationsummary1" style="color:Red;display:none;">

  </div>
</div>

