<div class="float_right" style="width: 200px; text-align: center; margin-bottom: 15px;">

  <div class="myborder" style="text-align: center;">

    <div class="Book_Left_Title0" style="width: 90%; padding-left: 3px; margin: 0 auto; "" style="width: 90%; padding-left: 3px;">

      <h1 id="ctl00_CenterContent_UCBookLeft1_SortName0">华语文学导航</h1>

    </div>

    <div style="width: 88%; margin: 0 auto; text-align:left;">

      <table id="ctl00_CenterContent_UCBookLeft1_Table1" cellpadding="0" cellspacing="0" width="100%">

        <tr>

          <td align="left">

            <div class="DivBlank">

            </div>

            <h3 id="ctl00_CenterContent_UCBookLeft1_SortName1">书系</h3></td>

        </tr>

        <tr>

          <td style="text-align: left;" valign="top">

            <div id="ctl00_CenterContent_UCBookLeft1_Detail_shuxi_ad" style="margin: 0 auto;"><A href="/Book/ListBook.aspx?QSortId=60093">张爱玲作品</A> <BR><A href="/Book/ListBook.aspx?QSortId=60107">三毛作品</A> <BR><A href="/Book/ListBook.aspx?QSortId=60108">张小娴作品 <BR><A href="/Book/ListBook.aspx?QSortId=60109">安妮宝贝作品 <BR><A href="/Book/ListBook.aspx?QSortId=60126">路遥作品 <BR><A href="/Book/ListBook.aspx?QSortId=60110">沈从文集 <BR><A href="/Book/ListBook.aspx?QSortId=60125">陈忠实集 <BR><A href="/Book/ListBook.aspx?QSortId=60128">老舍作品 <BR><A href="/Book/ListBook.aspx?QSortId=60127">高建群作品 <BR><A href="/Book/ListBook.aspx?QSortId=60138">侯文咏作品 <BR><A href="/Book/ListBook.aspx?QSortId=60133">阎连科作品</A></div>

                          </td>

                        </tr>

                      </table>



                      <table id="ctl00_CenterContent_UCBookLeft1_DivZhuanti" cellpadding="0" cellspacing="0" width="100%">

                        <tr>

                          <td align="left">

                            <div class="DivBlank">

                            </div>

                            <h3 id="ctl00_CenterContent_UCBookLeft1_SortName2">

                              专题</h3></td>

                        </tr>

                        <tr>

                          <td style="" valign="top">





                            <div>

                              <a href='/GSpecial/Special-751110260001.html'

                                target="_blank" title='安妮宝贝十年典藏文集'>安妮宝贝十年典藏文集</a>

                            </div>



                            <div>

                              <a href='/GSpecial/Special-751003100001.html'

                                target="_blank" title='海鸥乔纳森：敢想敢做敢与众不同'>海鸥乔纳森：敢想敢做敢与众不同</a>

                            </div>



                            <div>

                              <a href='/GSpecial/Special-751001020009.html'

                                target="_blank" title='安妮宝贝-清醒纪'>安妮宝贝-清醒纪</a>

                            </div>



                            <div>

                              <a href='/GSpecial/Special-751001020008.html'

                                target="_blank" title='我，终究是爱你的'>我，终究是爱你的</a>

                            </div>



                            <div>

                              <a href='/GSpecial/Special-751001020002.html'

                                target="_blank" title='我们一起怀念路遥'>我们一起怀念路遥</a>

                            </div>



                          </td>

                        </tr>

                      </table>



                    </div>

                    <div class="DivBlank">

                    </div>

                  </div>





                  <div class="DivBlank">

                  </div>

                  <div class="DivBlank">

                  </div>

                  <div id="ctl00_CenterContent_UCBookLeft1_Detail_other_ad" style="margin: 0 auto; text-align: center; width: 98%; overflow: hidden;"><P>&nbsp;</P>

                    <P>&nbsp;</P></div>





                </div>
