<div style="width: 200px; float: right; text-align: center;">


  <div class="myborder">
    <div class="Book_Left_Title0" style="cursor: pointer; width: 90%; padding-left: 3px; margin: 0 auto;">
      <a href="/Book/Award.aspx">
        <h1>
          大奖图书</h1>
      </a>
    </div>
    <div class="DivBlank">
    </div>
    <div style="width: 88%; margin: 0 auto; text-align: left; overflow:hidden;">
      <div id="ctl00_CenterContent_ChinaL_Ad_Commend_01" style="width: 98%; text-align: left; margin: 0 auto; overflow: hidden; line-height:200%;"><STRONG><FONT style="COLOR: #3f3b3a; FONT-SIZE: 14px">图书</FONT> <BR></STRONG>茅盾文学奖：<A href="/Goods/Book-110009120289.html">平凡的世界</A> <BR>茅盾文学奖：<A href="/Goods/Book-110009120292.html">白鹿原</A> <BR>茅盾文学奖：<A href="/Goods/Book-110009120288.html">穆斯林的葬礼</A> <BR>华语文学传媒大奖：<A href="/Goods/Book-110009120053.html">金山</A><BR>中山杯华侨文学奖评委会特别奖：<A href="/Goods/Book-110009120053.html">金山</A> <BR>北京文化艺术奖：<A href="/Goods/Book-110009120313.html">红煤</A> <BR>老舍文学奖：<A href="/Goods/Book-110009120054.html">受活</A> <BR><BR><STRONG><FONT style="COLOR: #3f3b3a; FONT-SIZE: 14px">作家</FONT> <BR></STRONG>茅盾文学奖：<A href="/luyao">路遥</A> <BR>茅盾文学奖：<A href="/chenzhongshi">陈忠实</A> <BR>茅盾文学奖：<A href="/huoda">霍达</A> <BR>茅盾文学奖：<A href="zhoudaxin">周大新</A> <BR>鲁迅文学奖：<A href="/liuqingbang">刘庆邦</A> <BR>老舍文学奖：<A href="/liuqingbang">刘庆邦</A> <BR>庄重文文学奖：<A href="/lier">李洱</A> <BR>庄重文文学奖：<A href="/gaojianqun">高建群</A></div>

    </div>
    <div class="DivBlank">
    </div>
    <div class="DivBlank">
    </div>
  </div>
  <div class="DivBlank">
  </div>
  <div class="myborder" style="text-align: center;">
    <div class="Book_Left_Title0" style="width: 90%; padding-left: 3px; margin: 0 auto;">
      <h1 id="ctl00_CenterContent_LSortName0">华语文学导航</h1>
    </div>
    <div class="DivBlank">
    </div>
    <div style="width: 88%; margin: 0 auto; text-align: left;">
      <table id="ctl00_CenterContent_Table1" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="left">
            <h3 id="ctl00_CenterContent_LSortName1">
              书系</h3>
          </td>
        </tr>
        <tr>
          <td style="text-align: left;" valign="top">
            <div id="ctl00_CenterContent_Detail_shuxi_ad" style="margin: 0 auto;"><A href="/Book/ListBook.aspx?QSortId=60093">张爱玲作品</A> <BR><A href="/Book/ListBook.aspx?QSortId=60107">三毛作品</A> <BR><A href="/Book/ListBook.aspx?QSortId=60108">张小娴作品 <BR><A href="/Book/ListBook.aspx?QSortId=60109">安妮宝贝作品 <BR><A href="/Book/ListBook.aspx?QSortId=60126">路遥作品 <BR><A href="/Book/ListBook.aspx?QSortId=60110">沈从文集 <BR><A href="/Book/ListBook.aspx?QSortId=60125">陈忠实集 <BR><A href="/Book/ListBook.aspx?QSortId=60128">老舍作品 <BR><A href="/Book/ListBook.aspx?QSortId=60127">高建群作品 <BR><A href="/Book/ListBook.aspx?QSortId=60138">侯文咏作品 <BR><A href="/Book/ListBook.aspx?QSortId=60133">阎连科作品</A></div>
                          </td>
                        </tr>
                      </table>

                      <table id="ctl00_CenterContent_DivZhuanti" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td align="left">
                            <div class="DivBlank">
                            </div>
                            <h3 id="ctl00_CenterContent_LSortName2">
                              专题</h3>
                          </td>
                        </tr>
                        <tr>
                          <td style="" valign="top">


                            <div>
                              <a
                                href='/GSpecial/Special-751110260001.html'
                                target="_blank" title='安妮宝贝十年典藏文集'>安妮宝贝十年典藏文集</a>
                            </div>

                            <div>
                              <a
                                href='/GSpecial/Special-751003100001.html'
                                target="_blank" title='海鸥乔纳森：敢想敢做敢与众不同'>海鸥乔纳森：敢想敢做敢与众不同</a>
                            </div>

                            <div>
                              <a
                                href='/GSpecial/Special-751001020009.html'
                                target="_blank" title='安妮宝贝-清醒纪'>安妮宝贝-清醒纪</a>
                            </div>

                            <div>
                              <a
                                href='/GSpecial/Special-751001020008.html'
                                target="_blank" title='我，终究是爱你的'>我，终究是爱你的</a>
                            </div>

                            <div>
                              <a
                                href='/GSpecial/Special-751001020002.html'
                                target="_blank" title='我们一起怀念路遥'>我们一起怀念路遥</a>
                            </div>

                          </td>
                        </tr>
                      </table>

                    </div>
                    <div class="DivBlank">
                    </div>
                  </div>
                  <div class="DivBlank">
                  </div>
                  <div style="display: none;">
                    <div class="Book_Left_Title0" style="width:90%; padding-left: 3px; margin: 0 auto;">
                      新经典简报
                    </div>
                    <div style="width: 96%; margin: 0 auto;">

                    </div>
                    <div class="DivBlank">
                    </div>
                  </div>
                  <div style="display: none;">
                    <div style="width: 100%; text-align: left;">
                      <span class="Book_Left_Title">&nbsp;<span id="ctl00_CenterContent_ClientClubTitle">新经典悦读俱乐部开张啦！</span></span>
                    </div>
                    <div style="width: 98%; text-align: left; text-indent: 2pc; margin: 0 auto; height: auto !important; height: 220px; min-height: 220px;">
                      经典悦读俱乐部依托新经典文化有限公司和旗下网站新经典悦读网成立。 读书也许不一定能改变命运，但一定能改变我们的内心世界，让我们变得更美好、向善、有力量…… 读经典的书，做有心的人，这是我们的宗旨。如果您也这么认为，如果您也喜欢那些被时光印证过的永远的经典，那么，现在就——
                      <br />
                      <div style="text-align: right; width: 100%;">
                        <a href="/Client/ClientReg.aspx">申请加入经典悦读俱乐部 >> </a>
                      </div>
                    </div>
                  </div>
                  <div class="DivBlank">
                  </div>
                  <div id="ctl00_CenterContent_Detail_other_ad" style="margin: 0 auto; width: 98%; overflow: hidden;"><P>&nbsp;</P>
                    <P>&nbsp;</P></div>

                </div>

