<div class="sales_right">
  <div class="content_float_right_1">


    <% if @notices.size > 0 then%>
      <div class='title'>
          最新公告
      </div>

      <ul>
        <% if @notices != nil%>
          <% @notices.each do |n|%>
            <li>
              <% if n!=nil then%>
                <%= link_to((truncate n.title,:length=>18),n,:style=>"text-decoration:none;color:#333")%> <span class="date"><%= n.created_at.strftime("%Y-%m-%d")%></span>
              <% end%>
            </li>
          <% end%>
        <% end%>
      </ul>
    <% end%>


  </div>
  <div class="content_float_right_2">
    <div class="content_float_right_top" style="background-image: url('/images/left_top.png');height: 38px;">
      <div class="text_top">畅销榜</div>
    </div>
    <div class="content_float_right_middle">
      <% i = 0%>
      <% @best_sellers.each do |book|%>
        <% if book != nil%>
          <% i+=1%>
          <div class="right_cont">
            <div class="left">
              <%= link_to((image_tag book.image.url(:thumb),:size=>"61x89"),book) %>
            </div>
            <div class="right">
              <h1>
                0<%= i%>
              </h1>
              <p>
              <%= link_to((truncate book.title,:length=>9),book,:class=>'gray') %>
              </p>
              <span class="writer">
                <%= if book.author!=nil then "作者：" + truncate(book.author.name,:length=>9) end%>
              </span>
            </div>
            <div class="clear"></div>
          </div>
          <div class="divi"></div>
        <% end%>
      <% end%>  
    </div>

    <div class="content_float_right_bottom" style="position:relative;top:-10px;background-image: url('/images/left_bottom.png');height: 7px">
    </div>
  </div>
</div>
