<div style="height: 15px; overflow: hidden; clear: both;">
</div>

<div id="ctl00_UCHeader1_Panel3" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_UCHeader1_BtnQuery')">
  <div id="ctl00_UCHeader1_DivNavigationName" style="float: left; width: 450px; text-align: left; padding-left: 34px;">
    您现在的位置：<a href="/" id="ctl00_UCHeader1_SiteJName" class="Navigation0">新经典悦读网</a>
    <span id="ctl00_UCHeader1_NavigationName" class="Navigation0"> > <a href="/Book/ListBook.aspx?QSortId=60002"  class="Navigation0">华语文学</a> > <a href="/Book/ListBook.aspx?QSortId=60109"  class="Navigation0">安妮宝贝</a></span>    
  </div>
</div>

<div style="height: 13px; overflow: hidden; clear: both;">
</div>

