<div id="mainbox"> 

  <%= render "page/title_bar"%>            

  <div style="height: 15px; overflow: hidden; clear: both;">
  </div>
  <div style="height: 13px; overflow: hidden; clear: both;">
  </div>
  <div id="ctl00_UCHeader1_DivLine" style="height: 1px;  background-color: #dedede; overflow:hidden;">
  </div>
  <div style="height: 10px; overflow: hidden; clear: both;">
  </div>
  <div style="clear: both; height: 5px; overflow: hidden;">
  </div>
  <div id="ctl00_CenterContent_Message">
  </div>
  <div style="height: 10px; overflow: hidden;">
  </div>

  <div class="article" style="width: 725px;float:left;">
    <%= render "book_list_promot"%>
    <br />
    <div style="height: 10px; overflow: hidden;">
    </div>
    <%= render :partial => 'douban_book_list' %>
  </div>

  <%= render :partial=>"right_column"%> 

  <%= render :partial => "page/footer"%> 

</div> 
