<h1>所有图书</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>书籍编号</th>
      <th>书名</th>
      <th>简介</th>
      <th>价格</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="span2"><%= image_tag product.image.url(:medium),:size=>'80x120' %></td>
        <td ><%= product.id %></td>
        <td class="span3"><%= link_to product.title,product%></td>
        <td class="span4"><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= link_to '编辑', edit_product_path(product) %></td>
        <td><%= link_to '删除', product, :confirm => '确定删除?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '新建书籍', new_product_path %>
