<div class="content" style="position: relative;top:-15px;">

  <div class="content_sales">
    <div class="sales_left">
      <div class="content_float_left_top" style="height: 15px;">
      </div>

      <div class="content_float_left_middle">
      </div>

      <div class="content_book_detail">
        <div class="top">
          <div class="book_img">
            <%= image_tag @product.image.url(:medium)%>
            <% if !@product.dangdang_link.blank?%>
              <%= link_to image_tag("buy.png", :alt => "buy", :width => 113, :height => 42, :title => "Click here to dangdang"), @product.dangdang_link %>
            <% end%>
          </div>
          <div class="disc"  style="text-align: left;">
            <div class="title">
              <%= @product.title%>
            </div>

            <div class="writer" >
              <% if !@product.author.blank? %>
                作　　者：<%= link_to @product.author.name,author_path(@product.author),:class=>:gray %>
              <% end%>
            </div>
            <div class="writer" >
              <% if !@product.format.blank? %>
                开　　本：<%= @product.format %>
              <% end%>
            </div>
            <div class="writer" >
              <% if !@product.page.blank? %>
                页　　数：<%= @product.page %>
              <% end%>
            </div>
            <div class="writer" >
              <% if !@product.pubdate.blank? %>
                出版日期：<%= @product.pubdate %>
              <% end%>
            </div>

            <div class="price" >
              <% if !@product.price.blank? %>
                ￥<%= @product.price%>
              <% end%>
            </div>
          </div>
          <div class="clear"></div>
        </div>

        <hr style="width: 600px;margin-left: 0px;" >

        <div class="bottom">
          <h2 align="left" style="font-weight: normal;font-size: 15px;">内容简介</h2>
          <p ><%= simple_format @product.description%></p>

          <% if !@product.review.blank? %>
            <h2 align="left" style="font-weight: normal;font-size: 15px;margin-top: 55px;">书评</h2>
            <p ><%= simple_format @product.review%></p>
          <% end%>
        </div>
      </div>
    </div>

    <%= render :partial => 'sales_right'%>
  </div>

  <%= render :partial => 'page/content_bottom' %>
  <div class="clear"></div>

</div>
