<!DOCTYPE html>
<html>

<head>
  <title>
   爱写书
  </title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <%# stylesheet_link_tag 'scaffold'%>
  <%= stylesheet_link_tag 'p_style',:media => :screen%>
  <%= stylesheet_link_tag 'slidedeck.skin'%>
  <%= stylesheet_link_tag 'sales'%>

  <%# javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-1.7.2.min.js' %>
  <%= javascript_include_tag "rails.js" %>
  <!-- Include the below script, Copyright 2010, Brandon Aaron (http://brandonaaron.net/) for scrollwheel support. -->
  <%= javascript_include_tag 'jquery.mousewheel.min.js'%>
  <!-- Include the SlideDeck jQuery script. -->
  <%= javascript_include_tag 'slidedeck.jquery.lite.pack.js' %>
  <style type="text/css">
      #slidedeck_frame {
         width: 950px;
         height: 255px;
         margin-left: 28px;
      }
  </style>

  <%= csrf_meta_tag %>

  <!-- Styles for the skin that only load for Internet Explorer -->
  <!--[if lte IE 7]>
  <link rel="stylesheet" type="text/css" href="/stylesheets/slidedeck.skin.ie.css" media="screen,handheld" />
  <![endif]-->

</head>
<body style="text-align:center;">
  <!--<div  style="width: 1024px;margin: auto;"-->
  <div  style="width: 1024px;margin-left: auto; margin-right:auto;background: #fff;position: relative;top:-9px;box-shadow:0 0 6px #84674b;">
    <div class="top_nav">
        <div class="top_contact">
          <a href="/docs"> 下载专区</a> &nbsp;&nbsp;| &nbsp;&nbsp   <%= link_to "管理",admin_path%>
        </div>
        <div class="top_banner">
            <div class="top_float_left">
              <%= link_to  "爱写书",root_path%>
              <p>中国首家自助出版平台</p>
            </div>
            <div class="top_float_middle">
              <%# image_tag 'mml.png',:alt => "让生活更精彩"%>
            </div>
            <div class="top_float_right">

              <%= form_tag("/search", :method => "post") do %>
                  <%= text_field_tag(:q,nil,:style=>"border: 0px;height: 16px;margin-top: 7px;width: 150px") %>
                  <%= submit_tag("搜索") %>
              <% end %> 

               <!--<div id="search">
                   <input type="text" name="search" style="border: 0px;height: 16px;margin-top: 7px;width: 150px">
               </div>

               <a  href=""  onmouseover="show()" onmouseout="norm()">
                   <div  id="search_img">
                   </div>
                 </a> -->
            </div>
        </div>
        <div class="nav" align="right">
           <ul>
               <li style="width: 70px">
                  <%= link_to " 首页",root_path%>
               </li>
               <% Category.all.each do |category|%>
                 <li>
                   <%= link_to category.name,category_path(category)%> 
                 </li>
               <% end%>
               <%# margin = (if params[:id]!=nil&&params[:controller]==:category then 139+params[:id].to_i*95 else 148 end)%>
               <% margin = navigator_pos%>
           </ul>
        </div>
        <% if margin != -1%>
        <div style="width: 60px;margin-left: <%= margin%>px;height: 2px;position: relative;top:-14px;background-color:#fcc43d;*display:none">  </div>
        <% end%>
    </div>

    <p id="notice"><%= flash[:notice] %></p>

    <%= yield %>
    
    <div class="bottom_link">
        <hr style="background-color: #ff9501;height: 4px;border: none;">
        <div class='printer'></div>
        <div class="clear"></div>
        <div class="left">
          <%= image_tag "banner.JPG"%>
        </div>
        <div class="right" style="color: #8e8e8e;font-family: microsoft yahei;">
          版权所有©  &nbsp;  &nbsp;2014 北京涌思图书有限责任公司
          <br/>
          电话:64420965806 传真:010-64427328  手机:18610551084 QQ:273268980 邮箱:273268980@qq.com
          <br/>
          <span style="color: #ff9501;">
          建议您使用IE6.0以上浏览器 1024*768分辨率浏览本站
          </span>
        </div>
    </div>
  </div>
  <%= debug(params) if Rails.env.development? %>
</body>
<script type="text/javascript">
    $('.slidedeck').slidedeck({
        autoPlay: true,
        cycle: true,
        autoPlayInterval: 3000
    });
</script>
<script type="text/javascript">
    if (typeof document.getElementsByClassName!='function') {
        document.getElementsByClassName = function() {
            var elms = document.getElementsByTagName('*');
            var ei = new Array();
            for (i=0;i<elms.length;i++) {
                if (elms[i].getAttribute('class')) {
                    ecl = elms[i].getAttribute('class').split(' ');
                    for (j=0;j<ecl.length;j++) {
                        if (ecl[j].toLowerCase() == arguments[0].toLowerCase()) {
                            ei.push(elms[i]);
                        }
                    }
                } else if (elms[i].className) {
                    ecl = elms[i].className.split(' ');
                    for (j=0;j<ecl.length;j++) {
                        if (ecl[j].toLowerCase() == arguments[0].toLowerCase()) {
                            ei.push(elms[i]);
                        }
                    }
                }
            }
            return ei;
        }
    }

    function a1(id){
        var a=document.getElementsByClassName('white_cont');
        var b=document.getElementById('gray_cont').getElementsByTagName('li');
     
        for(var i=1;i<a.length+1;i++ ){
            if(id==i)
            {a[i-1].style.display="" ;
            b[i-1].style.backgroundColor='white';}

            else
            {a[i-1].style.display="none";
            b[i-1].style.backgroundColor='';
            }
         }
    }

    function show(){
       document.getElementById('search_img').style.backgroundImage= 'url(images/search_icon_hover.png)';
    }

    function norm(){
        document.getElementById('search_img').style.backgroundImage= 'url(images/search_icon_normal.png)';
    }
</script>
</html>
